/* CSS declarations go here */
html {
	font-family: Avenir Next;
}

.profile-picture{
	width: 200px;
	height: 200px;
	border-radius: 1%;
	border:1px solid #eeeeee;
  margin-left: -5px;
}

.text-shadow-setting{
	    text-shadow: 4px 4px 4px #000000;
}

.logo {
  width: 130px;
  height: auto;
  margin-top:5px;
}

.no-padding {
	padding: 0 0 0 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.side-nav{
  z-index: 1050;
  overflow: hidden;
}


.image-modal-margins {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.selected-border {
	border:4px solid #26a69a;
}

.unselected-border {
	border:4px solid white;
}

.gallery-img {
	max-height:130px;
}

.cover-picture {
  width:100%;
  height:auto;
}

.set-min-height {
	min-height: 420px;
}

.row.no-margin {
	padding:0 !important;
	margin: 0 !important;
}

.card.no-margin {
	padding:0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}

.statusBadge {
	height : 25px;
	width: 80px;
	color: white;
	padding-top: 3px;
	padding-bottom: 5px;
}

.selected{
	background-color: yellow;

}

.unselected{
	background-color: tomato;
}

.timeslot{
	border: 1px solid #eee;
	margin: 7px 0;
	text-align: center;
	color: white;
	padding: 0;
}

/*CropUpload*/

.change-image-container {
	max-height: 300px;
}

.limit-height {
	max-height: 200px;
}

.change-container {

}

h6.id {
	margin:0;
	padding:0;
	text-align: center;
}
.thumbnail {
	display: inline-block;
}

.hidden {
	display: none;
}

.time {
  display: none;
}

.less {
  display: none;
  color: #ADD8E6;
}

.more {
  color: #ADD8E6;
}

.days {
  display: none;
}

.session_location {
  display: none;
}


#crop-image {
  max-width: 100%;
}

/*Booking Templates*/

.booking-card {
  max-width: 300px;
}

/*Account Templates*/

.at-signup {
  color: #64b5f6;
}

.at-signin {
  color: #64b5f6;
}

.modal {
  /* Change the width according to your specification */
    width: 45%;
}

@media screen and (max-width: 600px) {
    .modal {
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .modal {
        width: 60%;
    }
}

/*Account Templates End*/
.suggestions {
  margin-left:20px;
}

.overlap-into-top-image {
  margin-top:-17%;
}

/*.card-content {
  background-color: red;
}*/

/*.card {
  height: auto;
}*/

.clean {
  background-color: transparent;
  border: none;
}

.limit-width-30 {
  max-width: 30%;
  margin-left:auto;
  margin-right:auto;
}


.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}


h6 {
  font-size: 130%;
}

h7 {
  font-size: 110%;
}

body {
  background-color: #eeeeee;
  height:100%;
}

.no-padding{
  padding: 0;
}

/*Home Screen*/

div.home_text {
  color: white;
  text-align: center;
  vertical-align: middle;
  /*position: absolute;*/
  /*top:40%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;*/

}

div.search_bar {
  position: absolute;
  top:40%;
  /*bottom: 50%;*/
  left: 0;
  right: 0;
  margin: auto;
  height: 45px;
  /*width: 800px;*/
  max-width: 100%;
  margin-left: 25%;
  margin-right:25%;

}
/*rgba(0, 0, 0, 0.5);*/

.search_form {
  padding:0;
  margin-right: 0%;
  margin-left:0%;
  height:45px;
  max-width: 100%;
/*  vertical-align: middle;
*/}

.field {
  height:45px;
}

.search_btn {
  height: 45px;
  padding:0;
  width:100%;
}

.blur {
  background-color: white;
  display:inline-block;
  /*width: 800px;*/
  max-width:100%;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.arrow {
  margin-top:10px;
  margin-left:-15px;
}

#bg {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
}

/* Myprofile Page + Accompanist Profile page*/

.right {
  float:right
}

.card-panel {
  width: 100%;
}

.card-reveal {
  height: 500px;
}

.parallax {
  position:static;
}

.parallax-container {
  margin-left:-21.5%;
  margin-right:-21.5%;
  height:500px;
}

#align_text {
  vertical-align:middle;
}

.bold {
  font-weight: bold;
}


a {
	color: inherit;
}


.oneLiner {
  text-align: center;
}

.smallMargin {
  margin-right: 40%;
}

.scrollable {

  height:500px;
  overflow: scroll;
  width: 60%;
  float:left;
}

.music-advice {
  width:38%;
  margin-left:62%;
  overflow:hidden;
}

.backNext {
  margin-top:5px;
  margin-right: 40%;
}

.result-card {
  height: 300px;
}

.changeColor {
  color: black;
}

.divide {
  float:left;
  overflow:hidden;
  width:50%;
  max-height: 100%;
}

.verticalLine {
  border-left: 1px solid grey;
}

.horizontalLine {
  border-top: 1px solid #E5E5E5;
}

.larger {
  font-size:20px;
}

.horizontalLine_bottom {
  border-bottom: 1px solid #E5E5E5;
}

.color {
  color: #2F4F4F;
}

.weight {
  font-weight: 500;
}

.icon_margins{
  margin-bottom: 10px
}
/*i {
  color: #2F4F4F
}*/

.accomp_margins {
  margin-top:20px;
  margin-bottom:20px;
}

.field {
  padding:0;
  margin:0;
}

.top {
  padding-bottom: 15px
}

.nameAffili {
  padding-top: 105px;
  margin-left: 110px;
  height:150px;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.noPads {
  padding:0;
  margin:0;
}

.accopmCard-left {
  float:left;
  width:50%;
  overflow:hidden;
}

.accopmCard-right {
  width:50%;
  overflow:hidden;
}

.center_horizontal {
  text-align: center;
  background-color: #e6e6e6;
}

/*not consistant*/
#first-card-container {
  margin-top:-5%;
  background-color: blue;
}

.profileImg {
  float:left;
  width:200px;
  height:200px;
  margin-left: -20px;
  margin-right: 20px;
  overflow:hidden;
}

.profileData {
  width:50%;
  overflow:hidden;
}

.overlap-into-top {
  margin-top:-13%;
}

.imgMargin{
  margin-right: 20px
}

.materialboxed {
  display: block;
  margin: 0 auto;
  height:auto;
  width:100%;
}

#resultsProfileImg {
  margin-top:-40px;
  max-width: 100px;
  max-height: 100px;
  float:left;
  overflow:hidden;
}

.resultsBackgroundImg {
  width: 100%;
  height:100px;
  float:left;
  overflow:hidden;
}

.backimg {
  width: 100%;
  overflow:hidden;
}

.row {
  margin:0;
}

.inLine {
  margin-top:15px;
  margin-bottom: 15px;
}

.tester {
  margin: 0;
  padding: 50px;
  font: 400 14px/1.2em sans-serif;
  background: white;
}

.advancedsearch-btn {
  width:100%;
}
.box {
  height: 35px;
  background-color: #eeeeee;
}

.box-label {
  font-weight: bold;
  top: 30px;
  padding-left:10px;
}

.checker {
  padding-right: 10px;
}

.right_new {
  right:0;
}

.instrumentsAddForm {
  display:none;
}

.awardsAddForm {
display:none;
}

.programsAddForm {
display:none;
}

.orchestrasAddForm {
display:none;
}

.addRepForm {
display:none;
}

.AddArrayObjectButton {
  margin-top: -15px;
  margin-bottom: 20px;
}

.newAddArrayObjectButton {
  margin-top: -10px;
  margin-bottom: 20px;
}

.add-btn {
  width:100%;
  height:30px;
  padding: 0;
  border: none;
}

/*newaccomp page*/
.step_number {
  color: #D3D3D3;
  margin:0 ;
}

.step_main {
  font-size:150%;
  margin-top:5px ;
  margin-bottom:5px ;
/*  font-weight:bold;
*/
}

.step_info {
  color: grey;
   margin:0 ;
}

.upload-area {
  height: 300px;
}

.upload-area .alert {
  position: relative;
}

.upload-area input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.check-confirm {
    text-align: center;
}

.align-right {
  text-align: right
}




/*Steppers*/

.stepper .step {
  position: relative;
  min-height: 32px;
  padding: 24px;
}
.stepper .step:hover {
  background: #F6F6F6;
}
.stepper .step > div:first-child {
  position: static; height: 0;
}
.stepper .step > div:last-child {
  margin-left: 32px;
  padding-left: 16px;
  min-height: 24px;
}
.stepper .circle {
  background: #4285f4;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}
.stepper .line {
  position: absolute;
    border-left: 1px solid gainsboro;
    left: 40px;
    bottom: -12px;
    top: 68px;
    z-index: 1;
}
.stepper .step:last-child .line {
  display: none !important;
}
.stepper .title {
  line-height: 32px;
  font-weight: 500;
}
.stepper .body {
  padding-bottom: 28px;
    padding-top: 8px;
}
.stepper .description {
  line-height: 0.1;
    font-size: 1em;
    padding-bottom: 24px;
    color: #989898;
}
/** Horizontal **/
.stepper.horizontal {
  line-height: 72px;
  position: relative;
}
.stepper.horizontal .step {
  display: inline-block;
}
.stepper.horizontal .step .line, .stepper.horizontal .step .circle, .stepper.horizontal .step .title {
  display: inline-block;
}
.stepper.horizontal .step .line {
  border-left: 0px;
  position: inherit;
  border-top: 1px solid gainsboro;
    width: 100px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
}
.stepper.horizontal .step .title {
  margin-left: 8px;
}
.stepper.horizontal .step .body {
  line-height: initial;
}
.stepper.horizontal .step > div:last-child {
  position: absolute;
    width: 90vw;
    top: 93px;
    margin-left: 0px;
    padding-left: 0px;
    margin: auto;
}
.stepper .step.inactive .title{
  color: #C9C9C9;
  font-weight: 400;
}
.stepper .step.inactive .body{
    display: none;
}
.stepper .step.inactive .circle{
    background-color: #9e9e9e;
}

.aside.pinned{
  top: 100px !important;
  margin-right: 15%;
/*  width: 10% !important;
*/}


/* AddInfoLayout.html Style*/

.formsTopMargin {
  margin-top: 5%;
}

.edit {
  color:#90caf9 ;
  padding:0;
  margin:0;
}
.advice {
  width:38%;
  overflow:hidden;
  margin-left:62%;
}

.left-card {
width: 60%;
float:left;
overflow:hidden;
}

.left-basic {
width: 60%;
float:left;
overflow:hidden;
}

.centerIt {
  margin-right:0;
}

.basic-advice {
  width:38%;
  margin-top:10%;
  margin-left:62%;
  overflow:hidden;
}

.newAccompPublish {
  width: 60%;
  margin-top:50px;
  overflow:hidden;
}

/* Accompanist sexy activated/deactivated color change*/

.green-card {
  background-color: #C6D29B;
}

.red-card {
  background-color: #E7A9A9;
}

.instrument {
}

.award {
display: none;
}

.program {
  display: none;
}

.orchestra {
  display: none;
}

.repertoire {
}

.charge {
  display: none;
}

.award {
display: none;
}

.working_hours {
  display: none;
}

.working_days {
  display: none;
}

.accompanist_active {
display: none;
}

.session_location {
  display: none;
}

.mylocation {
  display: none;
}

.one_liner {
  display: none;
}

.profileMiniCard {
  height:150px;
}

.text-bigcard {
  margin-right: 25px;
  margin-left: 25px; 
}
