<template name="AccompanistDashboard">
    <header>
    </header>
    <main>
        <br>
        {{> notifications }}

        {{> TabStructure}}



    </main>
</template>


<template name="BookingRequestSelector">
    <div class="col s6 no-left-padding">
      {{#with receivedBookingRequests}}
      <ul class="collapsible z-depth-0" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Pending Booking Requests</div>

          <div class="collapsible-body grey lighten-5">
          {{#with pending}}
            {{> Template.dynamic template="RequestTypeCollections" data=this}}
          {{else}}
            <p>No pending bookings! To receive more booking requests, add to your profile!</p>
          {{/with}}
          </div>

        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Ongoing Bookings</div>
          <div class="collapsible-body grey lighten-5">
            {{#with ongoing}}
              {{> Template.dynamic template="RequestTypeCollections" data=this}}
            {{else}}
              <p>No ongoing bookings! To receive more booking requests, add to your profile!</p>
            {{/with}}
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Completed Bookings</div>
          <div class="collapsible-body grey lighten-5">
            {{#with completed}}
              {{> Template.dynamic template="RequestTypeCollections" data=this}}
            {{else}}
              <p>No completed bookings yet!</p>
            {{/with}}
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Cancelled Bookings</div>
          <div class="collapsible-body grey lighten-5">
            {{#with cancelled}}
              {{> Template.dynamic template="RequestTypeCollections" data=this}}
            {{else}}
              <p>No cancelled booking requests!</p>
            {{/with}}
          </div>
        </li>
      </ul>
      {{/with}}
    </div>


    <div class="col s6 no-right-padding">
    {{#with transactionById getSelectedTransaction}}
      {{> Template.dynamic template="BookingRequestReviewCard"}}
    {{else}}
      <div class="card z-depth-0">
        <div class="card-content">
          <div class="container">
            Select a booking request on the left to review!
          </div>
        </div>
      </div>
    {{/with}}
    </div>
</template>

<template name="RequestTypeCollections">

  <ul class="collection">
    {{#each this}}
      {{#with musicProfileById musician}}
      <a class="collection-item grey lighten-5 avatar black-text select-transaction-for-review {{getSelectionClass ../id}}" data-transactionid='{{../_id}}'>
        <img src="{{getProfilePictureById ../musician}}" alt="" class="circle">
        <span class="title">{{getMusicianType (getPrimaryInstrument instruments)}}</span>
        <p class="no-padding">{{#with basicProfileById ../musician}}{{affiliation}}{{/with}}<br>
           {{ formatDuration ../startDate ../endDate}}
        </p>
      </a>
      {{/with}}
    {{/each}}
  </ul>
</template>




<template name="BookingRequestReviewCard">
  <div class="card z-depth-0">
    <div class="card-content">

      <span class="black-text">
        {{#with basicProfileById musician}}
          <div class="divider"></div>
          <img class="responsive-img bg-cover" src="/images/newparallax.png"/>
          <div class="limit-width-30 overlap-into-top-image"><img src="{{getProfilePictureById ../musician}}" alt="" class="circle responsive-img" style="border:3px solid white"></div>
        <div class="container center">
            <h6>{{name}}</h6>
        </div>
        <br>
        {{#with musicProfileById ../musician}}
        <div class="row">
          <div class="col s6 center">
            <h7>Musician</h7>
            <div class="divider"><br></div>
            <p>A {{getMusicianType (getPrimaryInstrument instruments)}} from <br>{{../affiliation}}</p>
          </div>
          <div class="col s6 center">
            <h7>Sessions</h7>
            <div class="divider"><br><br></div>
            <p>{{../../sessionCount}} sessions<br>{{formatDuration ../../startDate ../../endDate}}</p>
          </div>

        </div>
        {{/with}}
        <br>
        {{/with}}
        <div class="row">
          <div class="col s12 center">
            <h7>Repertoire</h7>
            <div class="divider"></div>
            <table class="striped centered">
              <tbody>
                {{#each repertoire}}
                <tr>
                  <td>{{concerto}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>

     </span>
    </div>


      {{#if _.isEqual status "Pending"}}
        <div class="card-action">
          <a href="#reject-request-modal" class="reject-request modal-trigger left">Reject</a>
          <div id="reject-request-modal" class="modal">
            <div class="modal-content">
              <h4>Reject Booking Request</h4>
              <p>Are you sure that you want to reject the booking request from {{#with basicProfileById musician}}{{name}}{{/with}}?</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">No, Reconsider</a>
              <a href="#!" data-transactionid={{_id}} class=" modal-action modal-close waves-effect waves-green btn-flat final-reject">Yes, Reject Request</a>

            </div>
          </div>
          <a href="{{getBookingRoute _id}}" class="right">Review / Confirm</a>
          <br>
        </div>
      {{else}}
        {{#if _.isEqual status "Ongoing"}}
        <div class="card-action">

        </div>
        {{else}}
          {{#if _.isEqual status "Completed"}}
            <div class="card-action green center">
              <h6>Completed</h6>
            </div>
          {{else}}
            {{#if _.isEqual status "Cancelled"}}
              <div class="card-action red center">
                <h6>Cancelled</h6>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}

  </div>



</template>






<template name="teststructure">
  <a class="collection-item avatar black-text">
    <img src="images/profile.png" alt="" class="circle">
    <span class="title">Violinist</span>
    <p class="no-padding">The Juilliard School<br>
       Jul 6th - 24th, 2016
    </p>
  </a>
</template>

<template name="EditAccompanistProfiles">
  <button><a href="/newaccomp">Edit Accompanist Profile</a></button>
  <button name="requestNotification">Press</button>
</template>


<template name="TabStructure">
  <div class="row">
        <ul class="tabs">
          <li class="tab col s6"><a href="#booking-requests">Booking Requests</a></li>
          <li class="tab col s6"><a href="#profile">Profile</a></li>
        </ul>
    <div id="booking-requests" class="col s12 no-padding"> {{> BookingRequestSelector}}</div>
    <div id="profile" class="col s12 no-padding">{{> NewAccompLayout}}</div>

  </div>
</template>
