<template name="AccompanistDashboard">
    <header>
    </header>
    <main>
        <br>
        {{> notifications }}
        {{> TabStructure }}


    </main>
</template>

<template name="EditAccompanistProfiles">
  <button><a href="/newaccomp">Edit Accompanist Profile</a></button>
  <button name="requestNotification">Press</button>
</template>


<template name="TabStructure">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Booking Requests<i class="material-icons">face</i></a></li>
        <li class="tab col s3"><a href="#test2">Profile<i class="material-icons">account_box</i></a></li>
        <li class="tab col s3"><a href="#test3">Analytics<i class="material-icons">timeline</i></a></li>
        <li class="tab col s3"><a href="#test4">Settings<i class="material-icons">settings</i></a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">{{> CollapsibleStructure }}</div>
    <div id="test2" class="col s12">{{#if isInRole "accompanist"}}{{> Template.dynamic template="accompanistProfileTemplate" data=myAccompanistProfile}}{{/if}}</div>
    <div id="test3" class="col s12">{{> NewAccompLayout}}</div>
    <div id="test4" class="col s12">Settings</div>
  </div>
</template>


<template name="CollapsibleStructure">
  {{#with receivedBookingRequests}}
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active"><i class="material-icons">people</i>Pending Bookings ({{this.pending.length}})</div>
        <div class="collapsible-body">{{> Template.dynamic template="bookingList" data=this.pending }}</div>
      </li>

      <li>
        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Ongoing Bookings ({{this.ongoing.length}})</div>
        <div class="collapsible-body">{{> Template.dynamic template="bookingList" data=this.ongoing }}</div>
      </li>

      <li>
        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Previous Bookings ({{this.completed.length}})</div>
        <div class="collapsible-body">{{> Template.dynamic template="bookingList" data=this.completed }}</div>
      </li>

      <li>
        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Cancelled Bookings ({{this.cancelled.length}})</div>
        <div class="collapsible-body">{{> Template.dynamic template="bookingList" data=this.cancelled }}</div>
      </li>
    </ul>
  {{else}}
  You currently have no bookings... Here's how you can increase your profile.
  {{/with}}

</template>


<template name="request">
    <!-- {{#with accountById musician}}
      Musician: {{name}}<br>
    {{/with}}
    Planned Repertoire:
    {{#each repertoire}}
      {{this}},
    {{/each}}<br>
    Status: {{status}}<br>
    Start Date: {{startDate}} <br>
    End Date: {{endDate}} <br><br>
    <button><a href={{getBookingRoute this._id}}>Review Booking</a></button>
    <br><br> -->

    <li class="collection-item avatar">
      <img src="/images/profile.png" alt="" class="circle">
      {{#with basicProfileById musician}}
        <span class="title"><a href={{getProfileRoute _id}}>{{name}}</a></span>
      {{/with}}
      {{#with musicProfileById musician}}
        <p class="no-padding">{{instrument}} </p>
      {{/with}}
        <p class="no-padding">{{formatDuration this.startDate this.endDate}}</p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</template>



<template name="bookingList">
  <ul class="collection">
    {{#each this}}
     {{> Template.dynamic template="request" data=this}}
    {{/each}}
  </ul>
</template>
