
<!-- SECTION: Basic Profile -->

<template name="basicMyProfile">
  {{> Template.dynamic template="upsertBasicProfileForm" data="card-title"}}
</template>

<template name="basicNewAccomp">
   <div class="progress">
      <div class="determinate" style="width: 100%"></div>
  </div>
  <div class="smallMargin formsTopMargin">
    {{> upsertBasicProfileForm }}
  </div>
</template>

<!-- SECTION: Upsert Forms -->
<template name="upsertBasicProfileForm">
  {{#if isInRole 'makeBasicProfile'}}
      {{#autoForm collection="BasicProfiles" doc=currentBasicProfile id="upsertBasicProfileForm" type=formType}}
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              {{>afFieldInput name="name" id="icon_prefix" type="text"}}
              <label for="icon_prefix" class="active" >Full Name</label>
            </div>
             <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              {{>afFieldInput name="phone" id="icon_prefix" type="text"}}
              <label for="icon_telephone" class="active">Telephone</label>
            </div>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">child_friendly</i>
              {{>afFieldInput name="birthDate" id="icon_prefix" type="date"}}
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">business_center</i>
              {{>afFieldInput name="affiliation" id="icon_prefix" type="text"}}
            <label class="active">Affiliation</label>   
          </div>
      <br>
      <button type="submit" class=" {{this}} btn right btn-primary">Save</button>
      {{/autoForm}}
  {{/if}}
</template>

<template name="upsertMusicProfileForm">
  <div class="progress">
      <div class="determinate" style="width: 25%"></div>
  </div>
  {{#if isInRole 'makeMusicProfile'}}
    <div class="smallMargin formsTopMargin">
      {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertMusicProfileForm" type=formType}}

   <!--    <div class="instrument"> 
        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            <h5>
              <i id="align_text" class="medium material-icons">brush</i>
              Instruments you master
            </h5>
            {{>afQuickField name="instrument" type="selectize" options=instrumentList }}
            {{>afQuickField name="yearsPlayed"}}
          </div>
        </div>
        <a class="next-instrument right waves-effect waves-light btn">Next</a>
      </div> -->

       <div class="instrument">  
        {{> afArrayField name="instruments" template="newAccompCustomArrayField"}}
        <a class="next-instrument right waves-effect waves-light btn">Next</a>
        <a class="back-instrument left waves-effect waves-light btn">Back</a>
      </div> 

      <div class="award">  
        {{> afArrayField name="awards" template="newAccompCustomArrayField"}}
        <a class="next-award right waves-effect waves-light btn">Next</a>
        <a class="back-award left waves-effect waves-light btn">Back</a>
      </div> 
      
      <div class="program"> 
        {{> afArrayField name="musicPrograms" template="newAccompCustomArrayField"}}
        <a class="next-program right waves-effect waves-light btn">Next</a>
        <a class="back-program left waves-effect waves-light btn">Back</a> 
      </div> 
      
      <div class="orchestra"> 
        {{> afArrayField name="orchestras" template="newAccompCustomArrayField"}}
        <button type="submit" class="right btn btn-primary">Save</button>
        <a class="back-orchestra left waves-effect waves-light btn">Back</a>
      </div> 
       
      {{/autoForm}}
    </div>
  {{/if}}
</template>

<template name="upsertAccompanistForm">
  <div class="progress">
      <div class="determinate" style="width: 0%"></div>
  </div>
  <div class="smallMargin formsTopMargin">
    {{#autoForm collection="AccompanistProfiles" doc=currentAccompanistProfiles id="upsertAccompanistForm" type=formType}}
      
      <div class="repertoire">
        {{> afArrayField name="repertoire" template="newAccompCustomArrayField"}}
        <a class="next-repertoire right waves-effect waves-light btn">Next</a>
      </div>
      
      <div class="charge">
        {{> afQuickField name="charge"}}
        <a class="next-charge right waves-effect waves-light btn">Next</a>
         <a class="back-charge left waves-effect waves-light btn">Back</a>
      </div>
      
      <div class="working_hours">
        {{> afQuickField name="working_hours"}}
        <a class="next-working_hours right waves-effect waves-light btn">Next</a>
         <a class="back-working_hours left waves-effect waves-light btn">Back</a>
      </div>
      
      <div class="working_days">
        {{> afQuickField name="working_days"}}
        <a class="next-working_days right waves-effect waves-light btn">Next</a>
         <a class="back-working_days left waves-effect waves-light btn">Back</a>
      </div>
      
      <!-- <div class="startDate">
        {{> afQuickField name="startDate"}}
        <a class="next-startDate right waves-effect waves-light btn">Next</a>
         <a class="back-startDate left waves-effect waves-light btn">Back</a>
      </div>
      
      <div class="endDate">
        {{> afQuickField name="endDate"}}
        <a class="next-endDate right waves-effect waves-light btn">Next</a>
         <a class="back-endDate left waves-effect waves-light btn">Back</a>
      </div> -->

      <div class="accompanist_active">
        {{> afQuickField name="active"}}
        <a class="next-accompanist_active right waves-effect waves-light btn">Next</a>
         <a class="back-accompanist_active left waves-effect waves-light btn">Back</a>
      </div>
      
      <div class="session_location">
        {{> afQuickField name="session_location"}}
        <a class="next-session_location right waves-effect waves-light btn">Next</a>
         <a class="back-session_location left waves-effect waves-light btn">Back</a>
      </div>
      
      <div class="mylocation">
        {{> afQuickField name="mylocation" class="autocomplete" id="autocomplete"}}
        <a class="next-mylocation right waves-effect waves-light btn">Next</a>
         <a class="back-mylocation left waves-effect waves-light btn">Back</a>
      </div>
      
      <div class="one_liner">
        {{> afQuickField name="one_liner"}}
        <button type="submit" class=" btn right btn-primary">{{formType}} Accompanist Profile</button>
         <a class="back-one_liner left waves-effect waves-light btn">Back</a>
      </div>
    {{/autoForm}}
  </div>
</template>

<!-- SECTION: New Accompanist CustomArrayField-->

<template name="afArrayField_newAccompCustomArrayField">
  {{#if afFieldIsInvalid name=atts.name}}
    <span>{{{afFieldMessage name=atts.name}}}</span>
  {{/if}}
  <div class="card grey lighten-5 z-depth-0">
    <div class="card-content">
      <h5>
        {{#unless fromBookingTime this}}
          {{#if fromBooking this}}
            <i id="align_text" class="medium material-icons">{{icon atts.name}}</i>
          {{/if}}
          {{mainTitle atts.name}}
        {{/unless}}
      </h5>
      {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        
        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <span class="autoform-remove-item"><i class="material-icons right">close</i></span>
        {{/if}}      
        
        {{> UI.dynamic template=../atts.name}}

      {{/afEachArrayItem}}
   </div>
  {{#if afArrayFieldHasLessThanMaximum name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
    <center>
      <button
        type="button"
        class="add-btn autoform-add-item grey"
        data-autoform-field="{{atts.name}}"
        data-autoform-minCount="{{atts.minCount}}"
        data-autoform-maxCount="{{atts.maxCount}}">
          Add {{add_title atts.name}}
      </button>
    </center>
  {{/if}}
  </div>
</template>

<!-- SECTION: Edit My Profile CustomArrayField -->

<template name="afArrayField_editProfileCustomArrayField">
  {{#if afFieldIsInvalid name=atts.name}}
    <span>{{{afFieldMessage name=atts.name}}}</span>
  {{/if}}
      <h5>
        <i id="align_text" class="medium material-icons">{{icon atts.name}}</i>
        {{mainTitle atts.name}} 
      </h5>
      {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
       {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <span class="autoform-remove-item"><i class="material-icons right">delete</i></span>
        {{/if}} 
        {{> UI.dynamic template=../atts.name}}
      {{/afEachArrayItem}}
</template>

<!-- SECTION: Block HTML content for array construction... fields in array html -->

<!-- MusicProfile Array -->
<template name="awards">
 {{#if fromProfile this}}
    <div class="row">
      <br>
      <div class="input-field col s6">
          {{> afFieldInput name="name" id="comp.name" type="text"}}
        <label for="comp.name">Competition Name</label>
      </div>
       <div class="input-field col s6">
          {{> afFieldInput name="award" id="icon_name" type="text"}}
          <label for="icon_name">Award Title</label>
      </div>
    </div>
    <div class="input-field col s6">
      {{> afFieldInput name="date" id="test"  type="date"}}
       <button type="submit" class="btn right btn-primary">Submit</button>
       <br><br><br>
    </div>
    {{else}}
     <div class="row">
    <br>
      <div class="input-field col s6">
          {{> afFieldInput name=this.current.name id="comp.name" type="text"}}
        <label for="comp.name" class="active">Competition Name</label>
      </div>
       <div class="input-field col s6">
          {{> afFieldInput name=this.current.award id="icon_name" type="text"}}
        <label for="icon_name" class="active">Award Title</label>
      </div>
    </div>
    <div class="input-field col s6">
      {{> afFieldInput name=this.current.date type="date"}}
    </div>
  {{/if}}
  </template>

<template name="musicPrograms"> 
  {{#if fromProfile this}}
    <div class="row">
    <br>
      <div class="input-field col s6">
          {{> afFieldInput name="programName" id="comp.name" type="text"}}
        <label for="comp.name">Program Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name="startDate" type="date"}}
      </div>
       <div class="input-field col s6">
        {{> afFieldInput name="endDate" type="date"}}
      </div>
       <button type="submit" class="{{this}} btn right btn-primary">Submit</button>
       <br>
    </div>
    {{else}}
    <div class="row">
    <br>
      <div class="input-field col s6">
          {{> afFieldInput name=this.current.programName id="comp.name" type="text"}}
        <label for="comp.name" class="active">Program Name</label>
      </div> 
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name=this.current.startDate type="date"}}
      </div>
       <div class="input-field col s6">
        {{> afFieldInput name=this.current.endDate type="date"}}
      </div>
    </div>
    {{/if}}
</template>

<template name="orchestras">
  {{#if fromProfile this}}
  <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name="name" id="comp.name" type="text"}}
      <label for="comp.name">Orchestra Name</label>
    </div>
    <div class="input-field col s6">
        {{> afFieldInput name="position" id="comp.name" type="text"}}
      <label for="comp.name">Position</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{> afFieldInput name="startDate" type="date"}}
    </div>
     <div class="input-field col s6">
      {{> afFieldInput name="endDate" type="date"}}
    </div>
    <button type="submit" class="{{this}} btn right btn-primary">Submit</button>
       <br>
  </div>
  {{else}}
  <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.name id="comp.name" type="text"}}
      <label for="comp.name" class="active">Orchestra Name</label>
    </div>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.position id="comp.name" type="text"}}
      <label for="comp.name" class="active">Position</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{> afFieldInput name=this.current.startDate type="date"}}
    </div>
     <div class="input-field col s6">
      {{> afFieldInput name=this.current.endDate type="date"}}
    </div>
  </div>
  {{/if}}
</template>

<template name="instruments">
  {{#if fromProfile this}}
  <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name="instrument" id="name" type="selectize" options=instrumentList}}
      <label for="name" class="active">Instrument Name</label>
    </div>
    <div class="input-field col s6">
        {{> afFieldInput name="yearsPlayed" id="yrs" type="text"}}
      <label for="yrs" class="active">Years Played</label>
    </div>
    <button type="submit" class="{{this}} btn right btn-primary">Submit</button>
       <br>
  </div>
  {{else}}
   <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.instrument id="comp.name" type="selectize" options=instrumentList}}
      <label for="comp.name" class="active">Instrument Name</label>
    </div>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.yearsPlayed id="comp.name" type="text"}}
      <label for="comp.name" class="active">Years Played</label>
    </div>
  </div>
  {{/if}}
</template>

<!-- Accompanist Profile Arrays -->

<template name="repertoire">
  <br>
  <div class="input-field col s12">
      {{> afFieldInput name=this.current.concerto id="rep" type="text"}}
    <label for="rep" class="active">Repertoire</label>
  </div>
</template>

<!-- Booking Accompanist Arrays (- repertoire array) -->

<template name="suggestedTimes">
  <br>
  <div class="input-field col s12">
      {{> afFieldInput name=this.current.suggestedTimes id="time" type="date"}}
    <label for="time" class="active">Suggested Times</label>
  </div>
</template>

