
<!-- SECTION: Basic Profile -->


<template name="basicMyProfile">
  {{> Template.dynamic template="upsertBasicProfileForm" data="myProfile"}}
</template>

<template name="basicNewAccomp">
  <div class="row">
    <div class="col l7 hide-on-med-and-down halfWhite">
          <div class="containerLeft">
        <br><br><br>
      <h5>Clarify some basics</h5>
        
          <div class=" centerIt smallMargin formsTopMargin">
            {{> upsertBasicProfileForm }}
          </div>
        </div>
    </div>
    <div class="col s12 m12 hide-on-large-only halfWhite">
          <div class="containerLeftSmall">
        <br><br><br>
      <h5>Clarify some basics</h5>
        
          <div class=" centerIt smallMargin formsTopMargin">
            {{> upsertBasicProfileForm }}
          </div>
        </div>
    </div>
    <div class="col l5 hide-on-med-and-down">
      <div class="containerRight">
        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            <i class="small material-icons prefix blue-text text-darken-2">school</i>
            <br>
            <h10>
              Entering in your school affiliation allows you to connect to fellow students and alumni, enabling you to create relationships that go beyond the practice room
            </h10>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- SECTION: Upsert Forms -->
<template name="upsertBasicProfileForm">
  {{#if isInRole 'makeBasicProfile'}}
    {{#autoForm collection="BasicProfiles" validation="keyup" doc=currentBasicProfile id="upsertBasicProfileForm" type=formType}}

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            {{>afFieldInput name="name" id="name" type="text"}}
            <label for="name" class="active" >Full Name</label>
          </div>
           <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            {{>afFieldInput name="phone" id="phone" type="text"}}
            <label for="phone" class="active">Telephone</label>
          </div>
        </div>

         <div class="input-field col s6">
          <i class="material-icons prefix">business_center</i>
            {{>afFieldInput name="affiliation" id="affiliation" type="text"}}
          <label class="active">Affiliation</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">cake</i>
            {{>afFieldInput name="birthDate" id="birth" type="date"}}
            <label class="active">Birth Date</label>
        </div>
        <br>
        {{#if fromProfile this}}
          <button type="submit" class=" card-title {{this}} btn right btn-primary "  id="basicProfile">Save</button>
        {{else}}
          {{#if basicNotValid}}
            <button type="submit" class=" {{this}} btn right btn-primary "  id="basicProfile">Save</button>
            {{else}}
            <button type="submit" class=" {{this}} btn right btn-primary disabled"  disabled id="basicProfile">Save</button>
          {{/if}}
        {{/if}}
    {{/autoForm}}
  {{/if}}
</template>

<template name="upsertMusicProfileForm">
  {{#if isInRole 'makeMusicProfile'}}
  <!-- <div class="progress">
      <div class="determinate" style="width: 25%"></div>
  </div>
  <br> -->
  {{#if musicProfileExists}}
    <div class="row">
      <div class="col s12">
        <ul class="tabs grey lighten-3 z-depth-0">
          {{#each tabs}}
            <li class="tab col s1"><a class={{title}}>{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
  
  <div class="row">

    <div class="col l7 hide-on-med-and-down halfWhite">
      <div class="containerLeft">
        <!-- <div class="halfwhite"> -->
          <br><br><br>
          <h5>{{question}}</h5>
          {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertMusicProfileForm" type=formType}}
            <div class="scrollable ">
              <div class="instrument">
                {{> afArrayField name="instruments" template="newAccompCustomArrayField"}}
              </div>

              <div class="award">
                {{> afArrayField name="awards" template="newAccompCustomArrayField"}}
              </div>

              <div class="program">
                {{> afArrayField name="musicPrograms" template="newAccompCustomArrayField"}}
              </div>

              <div class="orchestra">
                {{> afArrayField name="orchestras" template="newAccompCustomArrayField"}}
              </div>
            </div>
          {{/autoForm}}
        <!-- </div> -->
      </div>
    </div>

    <div class="col s12 m12 hide-on-large-only halfWhite">
      <div class="containerLeftSmall">
        <br><br><br>
        <h5>{{question}}</h5>
        {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertMusicProfileForm" type=formType}}
          <div class="scrollable ">
            <div class="instrument">
              {{> afArrayField name="instruments" template="newAccompCustomArrayField"}}
            </div>

            <div class="award">
              {{> afArrayField name="awards" template="newAccompCustomArrayField"}}
            </div>

            <div class="program">
              {{> afArrayField name="musicPrograms" template="newAccompCustomArrayField"}}
            </div>

            <div class="orchestra">
              {{> afArrayField name="orchestras" template="newAccompCustomArrayField"}}
            </div>
        </div>
    {{/autoForm}}
    
      </div>
    </div>

    <div class="col l5 hide-on-med-and-down">
      <div class="containerRight">
        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            {{#with advice}}
            <i class="small material-icons prefix blue-text text-darken-2">{{icon}}</i>
            <br>
            <h10>
             {{text}}
            </h10>
            {{/with}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col l7 hide-on-med-and-down">
      <div class="containerLeft">
        <div class="backNext">
          <hr>
          {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertMusicProfileForm" type=formType}}
          {{#unless shouldShow "orchestras"}}
              <a class="next-{{button}} right waves-effect waves-light btn">Next</a>
              {{else}}
               <button type="submit" class="right btn btn-primary">Save</button>
            {{/unless}}
            {{#unless shouldShow "instruments"}}
              <a class="back-{{button}} left waves-effect waves-light btn">Back</a>
            {{/unless}}
          {{/autoForm}}
        </div>
      </div>
    </div>
    <div class="col m12 s12 hide-on-large-only">
      <div class="containerLeftSmall">
        <div class="backNextSmall">
          <hr>
          {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertMusicProfileForm" type=formType}}
          {{#unless shouldShow "orchestras"}}
              <a class="next-{{button}} right waves-effect waves-light btn">Next</a>
              {{else}}
               <button type="submit" class="right btn btn-primary">Save</button>
            {{/unless}}
            {{#unless shouldShow "instruments"}}
              <a class="back-{{button}} left waves-effect waves-light btn">Back</a>
            {{/unless}}
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>

  {{/if}}
</template>

<template name="upsertAccompanistForm">
  <!-- <div class="progress">
      <div class="determinate" style="width: 0%"></div>
  </div> -->
  {{#if accompanistProfileExists}}
    <div class="row">
      <div class="col s12">
        <ul class="tabs grey lighten-3 z-depth-0">
          {{#each tabs}}
            <li class="tab col s1"><a class={{title}}>{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}

  <div class="row">

    <div class="col l7 hide-on-med-and-down halfWhite">
      <div class="containerLeft">
        <br><br><br>
        <div>
        <h5>{{question}}</h5>
        </div>
        {{#autoForm collection="AccompanistProfiles" doc=currentAccompanistProfiles id="upsertAccompanistForm" type=formType}}
          <div class="scrollable">
            <div class="repertoire">
              {{> afArrayField name="repertoire" template="newAccompCustomArrayField"}}
            </div>

            <div class="charge">
              <br>
              <h5>
                {{> afFieldInput name="charge" type="select-radio"}}
              </h5>
            </div>

            <div class="working_hours">
              <br>
              <h5>
                {{> afQuickField name="working_hours"}}
              </h5>
            </div>

            <div class="working_days">
              <br>
              <h5>
              {{> afQuickField name="working_days"}}
              </h5>
            </div>

            <div class="accompanist_active center-align">
              <br>
              {{> afQuickField name="accompanist_active"}}
              <!-- {{> afFieldInput name="accompanist_active"}} -->
            </div>

            <div class="session_location">
              <br>
              <h5>
                {{> afFieldInput name="session_location" type="select-radio"}}
              </h5>
            </div>

            <div class="mylocation">
              <br>
              {{>afFieldInput name="mylocation" class="autocomplete" id="autocomplete" type="text"}}
           </div>

            <div class="one_liner">
              <br>
              {{> afQuickField name="one_liner"}}
            </div>
          </div>

          <div class="backNext">
            <hr>
            {{#unless shouldShow "one_liner"}}
              {{#if AccompNotValid name}}
                <button  class="next-{{name}} right waves-effect waves-light btn disabled " disabled>Next</button>
                {{else}}
                <a class="next-{{name}} right waves-effect waves-light btn " >Next</a>
              {{/if}}
              {{else}}
              <button type="submit" class=" btn right btn-primary">Save</button>
            {{/unless}}
            {{#unless shouldShow "repertoire"}}
              <a class="back-{{name}} left waves-effect waves-light btn">Back</a>
            {{/unless}}
          </div>
        {{/autoForm}}
      </div>
    </div>

    <div class="col s12 m12 hide-on-large-only halfWhite">
      <div class="containerLeftSmall">
        <br><br><br>
        <div>
        <h5>{{question}}</h5>
        </div>
        {{#autoForm collection="AccompanistProfiles" doc=currentAccompanistProfiles id="upsertAccompanistForm" validate=keyup type=formType}}
          <div class="scrollable">
            <div class="repertoire">
              {{> afArrayField name="repertoire" template="newAccompCustomArrayField"}}
            </div>

            <div class="charge">
              <br>
              <h5>
                {{> afFieldInput name="charge" type="select-radio"}}
              </h5>
            </div>

            <div class="working_hours">
              <br>
              <h5>
                {{> afQuickField name="working_hours"}}
              </h5>
            </div>

            <div class="working_days">
              <br>
              <h5>
              {{> afQuickField name="working_days"}}
              </h5>
            </div>

            <div class="accompanist_active">
              <br>
              {{> afQuickField name="accompanist_active"}}
            </div>

            <div class="session_location">
              <br>
              <h5>
                {{> afFieldInput name="session_location" type="select-radio"}}
              </h5>
            </div>

            <div class="mylocation">
              <br>
              {{>afFieldInput name="mylocation" class="autocomplete" id="autocomplete" type="text"}}
           </div>

            <div class="one_liner">
              <br>
              {{> afQuickField name="one_liner"}}
            </div>
          </div>

          <div class="backNextSmall">
            <hr>
            {{#unless shouldShow "one_liner"}}
              {{#if AccompNotValid name}}
                <button  class="next-{{name}} right waves-effect waves-light btn disabled " disabled>Next</button>
                {{else}}
                <a class="next-{{name}} right waves-effect waves-light btn " >Next</a>
              {{/if}}
              {{else}}
              <button type="submit" class=" btn right btn-primary">Save</button>
            {{/unless}}
            {{#unless shouldShow "repertoire"}}
              <a class="back-{{name}} left waves-effect waves-light btn">Back</a>
            {{/unless}}
          </div>
        {{/autoForm}}
      </div>
    </div>

     <div class="col l5 hide-on-med-and-down">
          <div class="containerRight">
        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            {{#with advice}}
            <i class="small material-icons prefix blue-text text-darken-2">{{icon}}</i>
            <br>
            <h10>
             {{text}}
            </h10>
            {{/with}}
          </div>
          </div>
        </div>
      </div>
  </div>
<!--  -->
</template>

<!-- SECTION: New Accompanist CustomArrayField-->

<template name="afArrayField_newAccompCustomArrayField">
  {{#if afFieldIsInvalid name=atts.name}}
    <span>{{{afFieldMessage name=atts.name}}}</span>
  {{/if}}
  <div class="card grey lighten-5 z-depth-0">
    <div class="card-content">
      {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}

        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <span class="autoform-remove-item"><i class="material-icons right">close</i></span>
        {{/if}}
        {{> UI.dynamic template=../atts.name}}

      {{/afEachArrayItem}}
   </div>
  {{#if afArrayFieldHasLessThanMaximum name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
    <center>
      <button
        type="button"
        class="add-btn autoform-add-item grey lighten-1"
        data-autoform-field="{{atts.name}}"
        data-autoform-minCount="{{atts.minCount}}"
        data-autoform-maxCount="{{atts.maxCount}}">
          Add {{add_title atts.name}}
      </button>
    </center>
  {{/if}}
  </div>
</template>

<template name="afArrayField_firstCustomArrayField">
  {{#if afFieldIsInvalid name=atts.name}}f
    <span>{{{afFieldMessage name=atts.name}}}</span>
  {{/if}}
      {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        {{> UI.dynamic template=../atts.name}}
      {{/afEachArrayItem}}
</template>

<!-- SECTION: Edit My Profile CustomArrayField -->

<template name="afArrayField_editProfileCustomArrayField">
  {{#if afFieldIsInvalid name=atts.name}}
    <span>{{{afFieldMessage name=atts.name}}}</span>
  {{/if}}
      <h5>
        <i id="align_text" class="medium material-icons">{{icon atts.name}}</i>
        {{mainTitle atts.name}}
      </h5>
      {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
       {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <span class="autoform-remove-item"><i class="material-icons right">delete</i></span>
        {{/if}}
        {{> UI.dynamic template=../atts.name}}
      {{/afEachArrayItem}}
</template>

<!-- SECTION: Block HTML content for array construction... fields in array html -->

<!-- MusicProfile Array -->
<template name="awards">
 {{#if fromProfile this}}
    <div class="row">
      <br>
      <div class="input-field col s6">
          {{> afFieldInput name="name" id="comp.name" type="text"}}
        <label for="comp.name">Competition Name</label>
      </div>
       <div class="input-field col s6">
          {{> afFieldInput name="award" id="icon_name" type="text"}}
          <label for="icon_name">Award Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name="year" type="select" options=years}}
        <label style="bottom: 90px;" class="active">Year Won</label>
      </div>

    </div>
    <div class="row">
      <button type="submit" class="btn right btn-primary">Save</button>
    </div>
<!--      {{#if FieldsValid fields "awards"}}
 -->
     <!--  {{else}}
      <button type="submit" disabled class="btn right btn-primary disabled">Save</button>
    {{/if}} -->

    {{else}}
     <div class="row">
      <br>
      <div class="input-field col s6">
          {{> afFieldInput name=this.current.name id="comp.name" type="text"}}
        <label for="comp.name" class="active">Competition Name</label>
      </div>
       <div class="input-field col s6">
          {{> afFieldInput name=this.current.award id="icon_name" type="text"}}
        <label for="icon_name" class="active">Award Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name=this.current.year type="select" options=years}}
        <label style="bottom: 90px;" class="active">Year Won</label>
      </div>
    </div>

  {{/if}}
  </template>

<template name="musicPrograms">
  {{#if fromProfile this}}
    <div class="row">
      <br>
      <div class="input-field col s6">
        {{> afFieldInput name="programName" id="comp.name" type="text"}}
        <label for="comp.name">Program Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name="startYear" type="select" options=years}}
        <label style="bottom: 90px;" class="active">Start Year</label>
      </div>
      <div class="input-field col s6">
        {{> afFieldInput name="startMonth" type="select" options=months}}
        <label style="bottom: 90px;" class="active">Start Month</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name="endYear" type="select" options=years}}
        <label style="bottom: 90px;" class="active">End Year</label>
      </div>
      <div class="input-field col s6">
        {{> afFieldInput name="endMonth" type="select" options=months}}
        <label style="bottom: 90px;" class="active">End Month</label>
      </div>
    </div>

<!--        {{#if FieldsValid fields "musicPrograms"}}

 -->
    <div class="row">
      <button type="submit" class="btn right btn-primary">Save</button>
    </div>
      <!-- {{else}}
      <button type="submit" disabled class="btn right btn-primary disabled">Save</button>
    {{/if}} -->
       <br>
    {{else}}
    <div class="row">
    <br>
      <div class="input-field col s6">
          {{> afFieldInput name=this.current.programName id="comp.name" type="text"}}
        <label for="comp.name" class="active">Program Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name=this.current.startYear type="select" options=years}}
        <label style="bottom: 90px;" class="active">Start Year</label>
      </div>
      <div class="input-field col s6">
        {{> afFieldInput name=this.current.startMonth type="select" options=months}}
        <label style="bottom: 90px;" class="active">Start Month</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{> afFieldInput name=this.current.endYear type="select" options=years}}
        <label style="bottom: 90px;" class="active">End Year</label>
      </div>
      <div class="input-field col s6">
        {{> afFieldInput name=this.current.endMonth type="select" options=months}}
        <label style="bottom: 90px;" class="active">End Month</label>
      </div>
    </div>
    {{/if}}
</template>

<template name="orchestras">
  {{#if fromProfile this}}
  <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name="name" id="comp.name" type="text" class='autocomplete autocomplete-instrument'}}
      <label for="comp.name">Ensemble</label>
    </div>
    <div class="input-field col s6">
        {{> afFieldInput name="position" id="comp.name" type="text"}}
      <label for="comp.name">Position</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{> afFieldInput name="startYear" type="select" options=years}}
      <label style="bottom: 90px;" class="active">Start Year</label>
    </div>
    <div class="input-field col s6">
      {{> afFieldInput name="startMonth" type="select" options=months}}
      <label style="bottom: 90px;" class="active">Start Month</label>

    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{> afFieldInput name="endYear" type="select" options=years}}
      <label style="bottom: 90px;" class="active">End Year</label>
    </div>
    <div class="input-field col s6">
      {{> afFieldInput name="endMonth" type="select" options=months}}
      <label style="bottom: 90px;" class="active">End Month</label>
    </div>
  </div>
<!--     {{#if FieldsValid fields "orchestras"}}
 -->
  <div class="row">
    <button type="submit" class="{{this}} btn right btn-primary">Save</button>
  </div>
<!--       {{else}}
      <button type="submit" disabled class="{{this}} btn right btn-primary disabled">Save</button>
    {{/if}} -->

  {{else}}
  <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.name id="comp.name" type="text" class='autocomplete autocomplete-instrument'}}
      <label for="comp.name" class="active">Ensemble Name</label>
    </div>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.position id="comp.name" type="text"}}
      <label for="comp.name" class="active">Position</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{> afFieldInput name=this.current.startYear type="select" options=years}}
      <label style="bottom: 90px;" class="active">Start Year</label>
    </div>
    <div class="input-field col s6">
      {{> afFieldInput name=this.current.startMonth type="select" options=months}}
      <label style="bottom: 90px;" class="active">Start Month</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{> afFieldInput name=this.current.endYear type="select" options=years}}
      <label style="bottom: 90px;" class="active">End Year</label>
    </div>
    <div class="input-field col s6">
      {{> afFieldInput name=this.current.endMonth type="select" options=months}}
      <label style="bottom: 90px;" class="active">End Month</label>
    </div>
  </div>
  {{/if}}
</template>

<template name="instruments">
  {{#if fromProfile this}}
  <div class="row">
    <br>
    <div class="input-field col s6">
        {{> afFieldInput name="instrument" id="name" type="select" options=instrumentList}}
      <label style="bottom: 90px;" class="active">Instrument Name</label>


    </div>
    <div class="input-field col s6">
        {{> afFieldInput name="yearsPlayed" id="yrs" type="text"}}
      <label for="yrs" class="active">Years Played</label>
    </div>
<!--     {{#if FieldsValid fields "instruments"}}
 -->      <button type="submit" class="btn right btn-primary">Save</button>
  <!--     {{else}}
      <button type="submit" disabled class="btn right btn-primary disabled">Save</button>
    {{/if}} -->
    <br>
  </div>
  {{else}}
   <div class="row">
    <br>
    <div class="input-field col s6">
      {{../atts.name}}
        {{> afFieldInput name=this.current.instrument id="comp.name" type="select" options=instrumentList}}
      <label style="bottom: 90px;" class="active">Instrument Name</label>

    </div>
    <div class="input-field col s6">
        {{> afFieldInput name=this.current.yearsPlayed id="comp.name" type="text"}}
      <label for="comp.name" class="active">Years Played</label>
    </div>
  </div>
  {{/if}}
</template>

<!-- Accompanist Profile Arrays -->
<template name="repertoire">
  {{#if fromProfile this}}
  <div class="row">
    <br>
    <div class="input-field col s12">
        {{> afFieldInput name="concerto" id="rep" type="text"}}
    <label for="rep" class="active">Repertoire</label>
    </div>
    <button type="submit" class="{{this}} btn right btn-primary">Save</button>
       <br>
  </div>
  {{else}}
   <div class="row">
    <br>
    <div class="input-field col s12">
        {{> afFieldInput name=this.current.concerto id="rep" type="text"}}
    <label for="rep" class="active">Repertoire</label>
    </div>
  </div>
  {{/if}}
<!--   <br>
  <div class="input-field col s12">
      {{> afFieldInput name=this.current.concerto id="rep" type="text"}}
    <label for="rep" class="active">Repertoire</label>
  </div> -->
</template>

<!-- Booking Accompanist Arrays (- repertoire array) -->

<template name="suggestedTimes">
  <br>
  <div class="input-field col s12">
      {{> afFieldInput name=this.current.suggestedTimes id="time" type="date"}}
    <label for="time" class="active">Suggested Times</label>
  </div>
</template>
