<template name="AddInfoLayout">
    <header>
      <h1>My Profile</h1>
    </header>
    <main>
      <h3>Edit Basic Profile</h3>
      {{> upsertBasicProfileForm}}
      <br><br>
      <h3>Edit Music Profile</h3>
      {{> upsertMusicProfileForm}}
    </main>
</template>

<template name="upsertBasicProfileForm">
  {{#if isInRole 'makeBasicProfile'}}
    {{#autoForm collection="BasicProfiles" doc=currentBasicProfile id="upsertBasicProfileForm" type=formType}}
      <fieldset>
        {{>afQuickField name="name"}}
        {{>afQuickField name="birthDate"}}
        {{>afQuickField name="phone"}}
        {{>afQuickField name="affiliation"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">{{formType}} Basic Profile</button>
    {{/autoForm}}
  {{/if}}
</template>

<template name="upsertMusicProfileForm">
  {{#if isInRole 'makeMusicProfile'}}
    {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertMusicProfileForm" type=formType}}
      <fieldset>
        {{>afQuickField name="instrument" type="selectize" options=instrumentList }}
        {{>afQuickField name="yearsPlayed"}}
        {{>afQuickField name="awards"}}
        {{>afQuickField name="musicPrograms"}}
        {{>afQuickField name="orchestras"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">{{formType}} Music Profile</button>
    {{/autoForm}}
  {{/if}}
</template>
