<template name="BookingRequestLayout">
    <header>
        <h1>Confirm/Reject A Booking Request</h1>
    </header>
    <main>
      {{> Template.dynamic template="BookingRequest" data=routeTransaction}}
    </main>
</template>

<template name="BookingRequest">
      {{#with accountById musician}}
      <h2>Your Booking With {{name}}</h2>
      {{/with}}
      Planned Repertoire:
      {{#each repertoire}}
        {{this}},
      {{/each}}
      <br>
      Status: {{status}} <br>
      Start Date: {{startDate}} <br>
      End Date: {{endDate}} <br>
      <button name="confirmRequest">Confirm Request</button>
</template>
