<template name="BookingRequestLayout">
    <header>
    </header>
    <main>
      {{> Template.dynamic template="BookingRequest" data=routeTransaction}}
    </main>
</template>


<template name="BookingRequest">
  <div class="row">
    <div class="col s12 m7 l7">
      {{> BookingReviewLeftPanel}}
    </div>

    <div class="col s12 m5 l5">
      {{> bookingSummary}}
    </div>
  </div>
</template>

<template name="BookingReviewLeftPanel">
  <div class="card grey lighten-5 z-depth-0">
    <div class="card-content">
      <span class="black-text">
        {{#with routeTransaction}}
          {{> Template.dynamic template=currentStep data=this}}

          <div class="checkbox-confirm">
            <input type="checkbox" id="panel-confirm-checkbox" {{isChecked}}/>
            <label for="panel-confirm-checkbox">{{currentCheckBoxText this}}</label>
          </div>
        {{/with}}
     </span>
    </div>
    <div class="card-action">
        <a class={{getNextButtonClass}}>{{getButtonText}}</a><br><br>
    </div>
  </div>
</template>




<template name="bookingSummary">
    <div class="card grey lighten-5 z-depth-0">
      <div class="card-content center">
        <span class="black-text">
          <h5>Booking Summary</h5>
            <div class="divider"></div>
            <img class="responsive-img" src="http://materializecss.com/images/parallax1.jpg"/>
            <div class="limit-width-30 overlap-into-top-image"><img src="/images/profile.png" alt="" class="circle responsive-img" style="border:3px solid white"></div>

          <div class="container">
            {{#with basicProfileById musician}}
              <h6>{{name}}</h6>
              A pianist from {{affiliation}}<br>
            {{/with}}<br>
            <div class="divider"></div><br>

            <h6><b>{{sessionCount}} Sessions</b></h6>minimum between<br>
             <h6>{{formatDateWithoutYear startDate}}&nbsp;&nbsp;<i class="material-icons vertical-align-middle padding-bottom-3">keyboard_arrow_right</i>&nbsp;&nbsp;{{formatDate endDate}}</h6>
             <br>
            <div class="divider"></div><br>

            {{#with basicProfileById musician}}
              {{name}} will be playing <b>3 pieces</b> on the
            {{/with}}
            {{#with musicProfileById musician}}
              <b>{{instrument}}</b>
            {{/with}}
            for a final performance on <b>{{formatDate endDate}}</b> <br><br>
            <div class="divider"></div><br>
            <b>First session</b> will be on the
          </div>
       </span>
      </div>
    </div>
</template>

<template name="repertoireSection">
    <h5>1. Repertoire</h5>
      <div class="divider"></div><br>
      <table class="striped centered">
        <tbody>
          {{#each repertoire}}
          <tr>
            <td>{{this}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    <br><br>
</template>

<template name="sessionsSection">
    <h5>2. Sessions</h5>
    <div class="divider"></div><br>
    5 Sessions Between {{formatDuration startDate endDate}}
    <br>
    <br>
    {{> upsertSessionResponse}}

</template>

<template name="paymentSection">
    <h5>3. Payment</h5>
    <div class="divider"></div><br>

    Total payment for the 5 hour booking at ${{getHourlyCharge musician}} per hour is ${{getTotalEstimated musician 5}}. You will receive payment after each completed session.
    <br> <br> The musician may add more hours during the booking.
    <br> <br>

</template>

<template name='upsertSessionResponse'>
  {{#autoForm collection='Sessions' id='upsertSessionResponse' type="insert" }}
    <fieldset>
      <legend>Confirm Your First Session</legend>
        {{>afFieldInput name='startTime' type='select-radio' options=optionArray}}
    </fieldset>
    <br>
  {{/autoForm}}
</template>
