<template name="BookingsLayout">
    <header>
        <h1> Your Bookings </h1>
    </header>
    <main>
      {{#each sentBookingRequests}}
        {{> Template.dynamic template="SentBookingRequests" data=this}}
      {{/each}}
    </main>
</template>

<template name="SentBookings">
    <h2>Booking</h2>
      {{#with accountById accompanist}}
      Accompanist: {{name}}<br>
      {{/with}}
      Planned Repertoire: <br>
      {{#each repertoire}}
        {{this}}<br>
      {{/each}}
      Status: {{status}} <br>
      Start Date: {{startDate}} <br>
      End Date: {{endDate}} <br>
</template>
