<template name="BookingsLayout">
    <header>
        <h1> Your Bookings </h1>
    </header>
    <main>
      {{> AllBookings}}
    </main>
</template>


<template name="AllBookings">
  <div class="row">
    {{#each sentBookingRequests}}
    <div class="col s12 m6 l4">
      {{> Template.dynamic template="BookingCard" data=this}}
    </div>
    {{else}}
    <a href="/">
      <div class="card">
        <div class="card-content center">
          <h6>You have no bookings currently. Go <span class="teal-text">search</span> for accompanists!</h6>
        </div>
      </div>
    </a>

    {{/each}}

  </div>
</template>

<template name="BookingCardExample">
  <div class="card z-depth-0">
    <div class="card-content center">
      <span class="black-text">
          <div class="divider"></div>
          <img class="responsive-img bg-cover" src="/images/newparallax.png"/>
          <div class="limit-width-30 overlap-into-top-image"><img src="/images/profile.png" alt="" class="circle responsive-img" style="border:3px solid white"></div>

        <div class="container">
            <h6>Javier Mascherano</h6>
        </div>

          <p>5 sessions<br>Sept. 16th&nbsp;&nbsp;-&nbsp;&nbsp;22nd</p>

          <br>
          <div class="container">
            <div class="divider"></div><br>
            A pianist from <br>Curtis Institute of Music
          </div>
     </span>
    </div>

    <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">Sessions<i class="material-icons right">close</i></span>
       <p>Here is some more information about this product that is only revealed once clicked on.</p>
     </div>

    <div class="card-action">
      <a href={{getLink "1241312"}} class="left">Details</a>
      <a href="#" class="right">Receipt</a><br>
    </div>
  </div>
</template>

<template name="BookingCard">
  <div class="card z-depth-0">
    <div class="card-content center">
      <span class="black-text">
        {{#with coverPicById accompanist}}
          <img class="responsive-img bg-cover" src="{{this}}"/>
        {{else}}
          <img class="responsive-img bg-cover" src="https://s3.amazonaws.com/empanist-images/HHr6xchGdCAwouQRr/Yale9338.jpg"/>
        {{/with}}
            <div class="limit-width-30 overlap-into-top-image"><img src="{{profilePicById accompanist}}" alt="" class="circle responsive-img" style="border:3px solid white"></div>
              {{>Template.dynamic template="statusBadge" data=status}}
        <div class="container">
          {{#with basicProfileById accompanist}}
            <h6>{{name}}</h6>
          {{/with}}
        </div>

          <p>{{sessionCount}} sessions<br>{{formatDuration startDate endDate}}</p><br>

          <div class="container">
            <div class="divider"></div><br>
            A pianist from <br>{{#with basicProfileById accompanist}}{{affiliation}}{{/with}}
          </div>

     </span>
    </div>

    <div class="card-action">
      <a href={{getLink _id}} class="left">Details</a>
      <a href="#" class="right">Receipt</a><br>
    </div>
  </div>
</template>


<template name="statusBadge">
    <!-- <div class='col s12'>
      <div class="card no-margin z-depth-0 {{getClass this}} statusBadge">
        <div class="center">
          {{this}}
        </div>
      </div>
    </div> -->

    <div class='chip {{getClass this}}'>
      {{this}}
    </div>

  <!-- <span class="new center-badge badge left {{getClass this}}" data-badge-caption="{{this}}"></span> -->
</template>

<template name="SentBookings">
    <h2>Booking</h2>
      {{#with accountById accompanist}}
      Accompanist: {{name}}<br>
      {{/with}}
      Planned Repertoire: <br>
      {{#each repertoire}}
        {{this}}<br>
      {{/each}}
      Status: {{status}} <br>
      Start Date: {{startDate}} <br>
      End Date: {{endDate}} <br>
</template>
