<template name="HomeLayout">


    <img src="http://www.chambermusicsociety.org/images/uploads/101514_Mozart_Piano_Concertos_Dress_148.JPG" id="bg" alt="">


    <main>
      <div class="home_text">
        <div class="container">
          <h2> Jamjoom the Savior </h2>
        </div>
      </div>
      {{> search}}
    </main>
</template>

<template name="search">
  <div class="search_bar">
    <div class="container">
  	   <div class="row">
          <div class="span12">
              <div class="blur">
                <!-- {{#autoForm collection="SearchData" id="insertSearchData" type="insert"}}
                  <div class="row">
                    <div class="input-field col s3">
                      {{>afFieldInput name="address" class="autocomplete" id="address" type="text"}}
                      <label for="address" class="active" >Enter Location</label>
                    </div>
                     <div class="input-field col s3">
                      {{>afFieldInput name="start_date" id="start_date" class="datepicker" type="date"}}
                    </div>
                    <div class="input-field col s3">
                      {{>afFieldInput name="end_date" id="end_date" class="datepicker" type="date"}}

                    </div>
                      <button type="submit" class=" cols s1 card-title btn right btn-primary "  id="search">Search</button>
                  </div>  
              {{/autoForm}}  -->
                <form class="col s12" id="searchform">
    					   <div class="input-field col s4">
                    <input required name="address" class="autocomplete" id="autocomplete" type="text">
                    <label>My Location</label>
                  </div>

                  <div class="input-field col s3">
                    <input name="start_date" class="datepicker" type="date"  placeholder="Start Date" >
                  </div>

                 <!--  <div class="verticalLine input-field col s5">
                    <input type="text" name="datefilter" value="" />
                    <label>
                      Start Date
                      <i class=" pads fa-rotate-180 medium material-icons prefix blue-text text-darken-2">keyboard_backspace</i>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      End Date
                    </label>
                  </div>  -->

                  <div class="input-field col s3">
                    <input name="end_date" class="datepicker" type="date"  placeholder="Event Date" >
                  </div>

                  <div class="input-field col s1">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>

</template>

 <template name="makeAdmin">
   <button>Divinify</button>
</template>
