<template name="MainLayout">
	<main>
		<div class="navbar-fixed">
			<nav>
		    <div class="nav-wrapper">
		      <a href="/" class="brand-logo right">Empanist</a>
		      <ul id="nav-mobile" class="left hide-on-med-and-down">
							{{#each navbarFields}}
								{{> Template.dynamic template=this}}
							{{/each}}
		      </ul>
		    </div>
		  </nav>
		</div>
    <div class ="main_margin">
   		{{> Template.dynamic template=main}}
   	</div>
  </main>
</template>


<template name="login">
	{{> loginButtons}}
</template>

<template name="myProfile">
	<li><a href={{getProfileRoute}}>My Profile</a></li>
</template>

<template name="accompanistDashboard">
	<li><a href='/accompanistDashboard'>Accompanist Dashboard</a></li>
</template>

<template name="bookings">
	<li><a href='/bookings'>Bookings</a></li>
</template>

<template name="becomeAnAccompanist">
	<li><a href='/newaccomp'>Become an Accompanist</a></li>
</template>

<template name="addProfile">
	<li><a href='/addinfo'>Add Profile</a></li>
</template>
