<template name="MainLayout">

		<head>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link rel="stylesheet" href="styles/custom.css">
		</head>

		<div class="nav">
			{{> Template.dynamic template=nav}}
		</div>

    <div class ="container">
			<img src="../images/background.jpg" id="bg" alt="">
   		{{> Template.dynamic template=main}}
   	</div>
</template>



<template name="login">
	<li><a>Login</a></li>
</template>

<template name="myProfile">
	<li><a href={{getProfileRoute}}>My Profile</a></li>
</template>

<template name="accompanistDashboard">
	<li><a href='/accompanistDashboard'>Accompanist Dashboard</a></li>
</template>

<template name="bookings">
	<li><a href='/bookings'>Bookings</a></li>
</template>

<template name="becomeAnAccompanist">
	<li><a class='waves-effect waves-light btn' href='/newaccomp'>Become an Accompanist</a></li>
</template>

<template name="addProfile">
	<li><a href='/addinfo'>Add Profile</a></li>
</template>
