<template name="Navbar">
	<div class="navbar-fixed">
		<nav class="#9fa8da indigo lighten-3">
			<div class="nav-wrapper container">
		 		<a href="/"><img class="logo brand-logo left" src="/images/logo_less.png" alt=""></a>
				<ul id="nav-mobile" class="right valign-wrapper hide-on-med-and-down">
					{{#each navbarFields}}
						<li >{{> Template.dynamic template=this}}</li>
					{{/each}}
				</ul>
			</div>
		</nav>
	</div>

<!-- Modal Contents -->

  <div id="signUpModal" class="modal">
    <div class="modal-content">
      {{>atForm}}
    </div>
  </div>

  <div id="loginModal" class="modal">
    <div class="modal-content">
      {{>atForm}}
    </div>
  </div>

</template>

<template name="modalSignUp">
	<a href="#signUpModal" class="waves-effect waves-light modal-signup-trigger modal-trigger">Sign Up</a>
</template>

<template name="modalLogin">
  <a href="#loginModal"  class="waves-effect waves-light modal-login-trigger modal-trigger">Login</a>
</template>

<template name="navbarAccount">

	<a class="dropdown-button valign-wrapper" data-hover="true" data-beloworigin="true" data-activates="accountDropdown">Account
		{{#with myProfilePic}}
			&nbsp;&nbsp;&nbsp;&nbsp;<img src={{this}} alt="" width="37px" height="37px" style="border:2px solid white" class="circle right valign white-border">
		{{else}}
			<i class="material-icons right">account_circle</i>
		{{/with}}
	</a>

  <ul id="accountDropdown" class="dropdown-content" style='width: auto !important;'>
    <li><a href={{getProfileRoute}}>My Profile</a></li>
    <li class="divider"></li>
    <li><a class='logout'>Logout</a></li>
  </ul>
</template>

<template name="myProfile">
	<a href={{getProfileRoute}}>My Profile</a>
</template>

<template name="accompanistDashboard">
	<a href='/accompanistDashboard'>Dashboard<i class="material-icons right">dashboard</i> </a>
</template>

<template name="bookings">
	<a href='/bookings'>My Bookings<i class="material-icons right">book</i></a>
</template>

<template name="becomeAnAccompanist">
	<a class='waves-effect waves-light btn {{onNewAccomp}} {{ifNotSignedIn}}' href={{link}}>Become an Accompanist</a>
</template>

<template name="addProfile">
	<a href='/addinfo'>Add Profile</a>
</template>

<template name="dateTemplate">
  <div class="at-input field">
    <div class="ui">
			<div class="input-field">
				{{#with options.icon}}
					<i class="material-icons prefix">{{this}}</i>
				{{/with}}

	      <input type="date" class="datepicker" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
				<!-- <label for="at-field-{{_id}}">
					Date of Birth
				</label> -->
			</div>
		</div>
  </div>
</template>

<template name="atInputWithIcon">
	{{#if options.custom}}
		{{> Template.dynamic template=templateName}}
	{{else}}
		<div class="at-input field">
			<div class="ui">
				<div class="input-field">

					{{#with options.icon}}
						<i class="material-icons prefix">{{this}}</i>
					{{/with}}

					{{#with template}}
						{{dateInput}}
					{{else}}
						<input type={{type}} id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
						<label for="at-field-{{_id}}">{{displayName}}</label>
					{{/with}}
				</div>
			</div>
		</div>
	{{/if}}
</template>
