<template name="Navbar">
	<div class="navbar-fixed">
		<nav class="z-depth-0">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo left">Empanist</a>
				<ul id="nav-mobile" class="right valign-wrapper hide-on-med-and-down">
						{{#each navbarFields}}
							<li >{{> Template.dynamic template=this}}</li>
						{{/each}}
				</ul>
			</div>
		</nav>
	</div>

<!-- Modal Contents -->

  <div id="signUp" class="modal">
    <div class="modal-content">
      {{>atForm}}
    </div>
  </div>

  <div id="login" class="modal">
    <div class="modal-content">
      {{>atForm}}
    </div>
  </div>



</template>

<template name="modalSignUp">
	<a class="waves-effect waves-light modal-trigger " href="#signUp">Sign Up</a>
</template>

<template name="modalLogin">
  <a class="waves-effect waves-light modal-trigger" href="#login">Login</a>
</template>

<template name="navbarAccount">

		<a class="dropdown-button valign-wrapper" data-activates="accountDropdown">Account&nbsp;&nbsp;&nbsp;&nbsp;<img src={{profilePic}} alt="" width="37px" height="37px" style="border:2px solid white" class="circle right valign white-border">
		</a>

  <ul id="accountDropdown" class="dropdown-content" style='width: auto !important;'>
    <li><a href={{getProfileRoute}}>My Profile</a></li>
    <li class="divider"></li>
    <li><a class='logout'>Logout</a></li>
  </ul>
</template>

<template name="myProfile">
	<a href={{getProfileRoute}}>My Profile</a>
</template>

<template name="accompanistDashboard">
	<a href='/accompanistDashboard'>Dashboard<i class="material-icons right">dashboard</i></a>
</template>

<template name="bookings">
	<a href='/bookings'>Bookings<i class="material-icons right">book</i></a>
</template>

<template name="becomeAnAccompanist">
	<a class='waves-effect waves-light btn' href='/newaccomp'>Become an Accompanist</a>
</template>

<template name="addProfile">
	<a href='/addinfo'>Add Profile</a>
</template>
