<template name="NewAccompLayout">
    <main>
  
    {{> NewAccompanist}}
    {{> newAccompAdvice}}
    {{> publishAccompanist}}
        
    </main>
</template>

<template name="NewAccompanist">
  <h3>Become an accompanist</h3>
  <div class="left-card">
    <ul class="collection">
        <li class="collection-item">
          <div>
            <p class="step_number"> STEP 1 </p>
            {{#if basicProfileComplete}}
            <i class="small material-icons secondary-content">check_circle</i>
            {{/if}}
            <p class="step_main">Let’s go over the basics</p>
            <p class="step_info">Name, number, and more</p>
            {{#unless basicProfileComplete}}
              <a class="waves-effect waves-light btn" href="/newaccomp/step1">
                Continue
              </a> 
               {{else}}
              <a href="/newaccomp/step1">
                <p class="edit">Edit</p>
              </a>
            {{/unless}}
          </div>
        </li>
        <li class="collection-item">
          <div>
            <p class="step_number"> STEP 2 </p>
            {{#if musicProfileExists}}
            <i class="small material-icons secondary-content">check_circle</i> 
            {{/if}}
            <p class="step_main">Showcase yourself</p>
            <p class="step_info">Awards, festivals, and more</p>
            {{#if basicProfileComplete}}
              {{#unless musicProfileExists}}
                {{#unless accompanistProfileExists}}
                  <a href="/newaccomp/step2" class="waves-effect waves-light btn">
                    Continue
                  </a>
                {{/unless}}
              {{else}}
                <a href="/newaccomp/step2">
                  <p class="edit">Edit</p>
                </a>
              {{/unless}}
            {{/if}}
          </div>
        </li>
        <li class="collection-item">
          <div>
            <p class="step_number"> STEP 3 </p> 
            {{#if accompanistProfileExists}}
              <i class="small material-icons secondary-content">check_circle</i>
            {{/if}}
            <p class="step_main">Get ready to accompany!</p>
            <p class="step_info">Availability, hourly rate, and more</p>
            {{#if and basicProfileComplete musicProfileExists}}
              {{#unless accompanistProfileExists}}
                <a href="/newaccomp/step3" class="waves-effect waves-light btn">
                  Continue
                </a>
                {{else}}
                <a href="/newaccomp/step3">
                 <p class="edit">Edit</p>
                </a>
              {{/unless}}
            {{/if}}
          </div>
        </li>
      </ul>
  </div>
</template>

<template name="newAccompAdvice">
  <div class=" advice">
    <div class="card grey lighten-5 z-depth-0">
      <div class="card-content">
        <i class="small left material-icons prefix blue-text text-darken-2">ic_wb_incandescent</i>
        <br>
        <br>
           <h10>
            You can work on your own schedule to make over $90 a day! Fill in all sections of your accompanist profile to attract as many musicians as possible. If you’re having a particularly busy week, you can always deactivate your account for awhile!
          </h10>
      </div>
    </div>
  </div>
</template>

<template name="publishAccompanist">
  <div class=" newAccompPublish">
    {{#if basicProfileExists}}
      {{#if musicProfileExists}}
        {{#if accompanistProfileExists}}
          <div class="card grey lighten-5 z-depth-0">
            <div class="card-content">
              <h5>
                Great, you are ready to accompany!
              </h5>
              <h10>
                 Reply to your bookings, always keep your preferances updated, and most importantly enjoy!
              </h10>
              <br>
              <br>
              <center>
                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Publish and View Profile</a>
              </center>

            </div>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>


