<template name="ProfileLayout">
    <header>
        <link rel="stylesheet" href="styles/custom.css">
    </header>

    <main>
      <!-- Change parallax img according to what user inserts!! -->
      <div class="parallax-container">
        <div class="parallax">
          <img src="http://materializecss.com/images/parallax1.jpg" />
        </div>
      </div>

          {{#if validId}}
            {{#if isOwnProfile}}
              {{> Template.dynamic template="accountTemplate" data=myBasicProfile}}
              {{> Template.dynamic template="profileTemplate" data=myMusicProfile}}
            {{else}}
              {{#if isAccompanist}}
              <div class="accompProfileMargin">
                {{> Template.dynamic template="accountTemplate" data=routeBasicProfile}}
                {{> Template.dynamic template="accompanistProfileTemplate" data=routeAccompanistProfile}}
                {{> Template.dynamic template="profileTemplate" data=routeMusicProfile}}
                <!-- uncomment below when you add booking template -->
                <!-- {{> bookAccompanist}} -->
              </div>
              {{else}}
                {{> Template.dynamic template="accountTemplate" data=routeBasicProfile}}
                {{> Template.dynamic template="profileTemplate" data=routeMusicProfile}}
              {{/if}}
            {{/if}}
          {{else}}
            {{> invalidId}}
          {{/if}}
    </main>
</template>

<template name="invalidId">
  <h2>Invalid ID</h2>
</template>


<template name="accountTemplate">
  <div id="first-card-container" class="card grey lighten-5 z-depth-0">

    <div id="first-card-text" class="card-content">

      <div id="profileImg" class="profImg-left">
        <a class="waves-effect waves-light modal-trigger" href="#changeProfileModal">
          <img class="materialboxed" src={{profilePic}}>
        </a>
      </div>

      <div id="changeProfileModal" class="modal">
        <div class="modal-content">
          <h4>Change Profile Picture</h4>
          {{> upload}}
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      <span class="black-text activator">
        <div class="details">
          <h5 class="bold">{{name}}</h5>
          <h6>{{affiliation}}</h6>

          {{#if isOwnProfile}}
          <h10>{{formatBirthDate this.birthDate}}</h10> <br>
          <h10>{{phone}}</h10> <br>
          <h4>Transactions</h4>
          {{> quickForm id="quickform1" collection="Transactions" type="insert"}}
          <br><br><br>
          <h4>Sessions</h4>
          {{> quickForm id="quickform3" collection="Sessions" type="insert"}}
          <br><br><br>

          <i class="material-icons right">mode_edit</i>
          <br>
          {{/if}}
        </div>

      </span>
    </div>

    {{#if isOwnProfile}}
      <div class="card-reveal grey lighten-5 z-depth-0">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        {{> upsertBasicProfileForm}}
      </div>
    {{/if}}

  </div>
</template>


<template name="profileTemplate">
  <section class="myprofile">
        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            <span class="black-text activator">
              <h5>
                <i id="align_text" class="medium material-icons">add_shopping_cart</i>
                Instruments Mastered
              </h5><br>
                <h10>Instruments Mastered: {{instrument}}</h10> <br>
              <h10>Years Played: {{yearsPlayed}}</h10>

               {{#if isOwnProfile}}
                  <i class="material-icons right">mode_edit</i>
                {{/if}}

           </span>
          </div>

          {{#if isOwnProfile}}
            <div class="card-reveal grey lighten-5 z-depth-0">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              {{> upsertInstrumentForm}}
            </div>
          {{/if}}
        </div>


        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            <span class="black-text activator">
            <h5>
              <i id="align_text" class="medium material-icons">verified_user</i>
              Honors & Awards
            </h5>
            {{#each awards}}
              <span class="right">{{formatDate this.date}}</span>
              <p class="bold">{{name}}</p>
              {{award}}
              <br><br>
            {{/each}}

            {{#if isOwnProfile}}
              <i class="material-icons right">mode_edit</i>
            {{/if}}
            <br>

           </span>
          </div>

          {{#if isOwnProfile}}
            <div class="card-reveal grey lighten-5 z-depth-0">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              {{> upsertAwardsForm}}
            </div>
          {{/if}}

        </div>

        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            <span class="black-text activator">
            <h5>
              <i id="align_text" class="medium material-icons">music_note</i>
              Music Programs
            </h5>
              {{#each musicPrograms}}
                <span class="right">{{formatDuration this.startDate this.endDate}}</span>
                {{programName}}
                <br><br>
              {{/each}}

              {{#if isOwnProfile}}
                <i class="material-icons right">mode_edit</i>
              {{/if}}
              <br>

           </span>
          </div>

          {{#if isOwnProfile}}
            <div class="card-reveal grey lighten-5 z-depth-0">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              {{> upsertProgramsForm}}
            </div>
          {{/if}}

        </div>

        <div class="card grey lighten-5 z-depth-0">
          <div class="card-content">
            <span class="black-text activator">
            <h5>
              <i id="align_text" class="medium material-icons">group_work</i>
              Orchestras Participated in
            </h5>
              {{#each orchestras}}
                <span class="right">{{formatDuration this.startDate this.endDate}}</span>
                <p class="bold">{{name}}</p>
                {{position}}
                <br><br>
              {{/each}}

            {{#if isOwnProfile}}
              <i class="material-icons right">mode_edit</i>
            {{/if}}
            <br>

           </span>
          </div>

          {{#if isOwnProfile}}
            <div class="card-reveal grey lighten-5 z-depth-0">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              {{> upsertOrchestraForm}}
            </div>
          {{/if}}
        </div>

  </section>
</template>

<template name="accompanistProfileTemplate">
  <div class="card grey lighten-5 z-depth-0">
    <div class="card-content">
      <span class="black-text activator">
        <!--
        <h5>Repertoire: </h5>
        {{#each repertoire}}
          {{this}}<br>
        {{/each}}
           <hr> -->
        <div class="accopmCard-left">
          <h10>
            <i id="align_text" class="small material-icons">attach_money</i>
            {{charge}}/hr
          </h10>
          <br>
          <h10>
              <i id="align_text" class="small material-icons">access_time</i>
              {{#each working_hours}}{{this}}/{{/each}}
          </h10>
        </div>
        <div class="accopmCard-right">
          <h10>
            <i id="align_text" class="small material-icons">event</i>
            {{#each working_days}}{{formatDay this}}/{{/each}}
          </h10>
          <br>
          <h10>
            <i id="align_text" class="small material-icons">location_on</i>
            {{mylocation}}
          </h10>
          <br><br>
        </div>
        <p class="center_horizontal">{{one_liner}}</p>
      </span>
    </div>
  </div>
</template>




<!-- template to edit/add instruments -->
<template name="upsertInstrumentForm">
  {{#if isInRole 'makeMusicProfile'}}
    {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertInstraForm" type=formType}}
      <fieldset>
        {{>afQuickField name="instrument" type="selectize" options=instrumentList }}
        {{>afQuickField name="yearsPlayed"}}
      </fieldset>
      <br>
    <button type="submit" class="btn btn-primary">Save</button>
    {{/autoForm}}
  {{/if}}
</template>

<!-- template to edit/add awards -->
<template name="upsertAwardsForm">
  {{#if isInRole 'makeMusicProfile'}}
    {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertAwardsForm" type=formType}}
      <fieldset>
        {{>afQuickField name="awards"}}
      </fieldset>
      <br>
    <button type="submit" class="btn btn-primary">Save</button>
    {{/autoForm}}
  {{/if}}
</template>

<!-- template to edit/add progs -->
<template name="upsertProgramsForm">
  {{#if isInRole 'makeMusicProfile'}}
    {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertProgramsForm" type=formType}}
      <fieldset>
        {{>afQuickField name="musicPrograms"}}
      </fieldset>
      <br>
    <button type="submit" class="btn btn-primary">Save</button>
    {{/autoForm}}
  {{/if}}
</template>

<!-- template to edit/add orchestra -->
<template name="upsertOrchestraForm">
  {{#if isInRole 'makeMusicProfile'}}
    {{#autoForm collection="MusicProfiles" doc=currentProfile id="upsertOrchestraForm" type=formType}}
      <fieldset>
        {{>afQuickField name="orchestras"}}
      </fieldset>
      <br>
    <button type="submit" class="btn btn-primary">{Save</button>
    {{/autoForm}}
  {{/if}}
</template>
