<template name="ProfileLayout">
    <header>
        <h1> Profile </h1>
    </header>
    <main>
      {{#if validId}}
        {{#if ownProfile}}
          {{> editProfile}}<br>
          {{> accountTemplate}}
          {{> profileTemplate}}<br>
          {{> accompanistProfileTemplate}}
        {{else}}
          {{#if accompanistProfileDoc}}
            {{> bookAccompanist}}<br>
            {{> accountTemplate}}
            {{> profileTemplate}}<br>
            {{> accompanistProfileTemplate}}
          {{else}}
            {{> accountTemplate}}
            {{> profileTemplate}}
          {{/if}}
        {{/if}}
      {{else}}
        {{> invalidId}}
      {{/if}}
    </main>
</template>

<template name="invalidId">
  <h2>Invalid ID</h2>
</template>

<template name="editProfile">
  <button><a href="/addinfo">Edit Profile</a></button>
</template>

<template name="bookAccompanist">
  <h3>Book Accompanist</h3>
  {{#autoForm collection="Transactions" doc=defaultTransaction id="bookAccompanist" type="insert"}}
    <fieldset>
      {{>afQuickField name="musician"}}
      {{>afQuickField name="accompanist"}}
      {{>afQuickField name="status"}}
      {{>afQuickField name="repertoire"}}
      {{>afQuickField name="startDate"}}
      {{>afQuickField name="endDate"}}
      <button type="submit" class="btn btn-primary">Book Accompanist</button>
    </fieldset>
  {{/autoForm}}
</template>

<template name="accountTemplate">
  <h3>Account Details</h3>
    {{#with accountDoc.doc}}
    <h5>Name: {{name}}</h5>
    <h5>Birthday: {{birthDate}}</h5>
    <h5>Phone Number: {{phone}}</h5>
    <h5>Affiliation: {{affiliation}}</h5>
    <br>
    {{/with}}
</template>

<template name="profileTemplate">
  <section class="myprofile">
    <h3>Music Profile</h3>
    {{#with profileDoc}}
      {{#with this.doc}}
        <h5>Instruments Mastered: {{instrument}}</h5>
        <h5>Years Played: {{yearsPlayed}}</h5>
        <hr>
        <h5>Awards: </h5>
          {{#each awards}}
            Name: {{name}}<br>
            Date: {{date}}<br>
          {{/each}}
        <hr>
        <h5>Music Programs: </h5>
          {{#each musicPrograms}}
            Institution Name: {{instName}}<br>
            Program Name: {{programName}}<br>
            Start Date: {{startDate}}<br>
            End Date: {{endDate}}<br>
          {{/each}}
        <hr>
        <h5>Orchestras Participated in: </h5>
          {{#each orchestras}}
            Name: {{name}}<br>
            Position: {{position}}<br>
            Start Date: {{startDate}}<br>
            End Date: {{endDate}}<br>
          {{/each}}
      {{/with}}
    {{/with}}
  </section>
</template>

<template name="accompanistProfileTemplate">
  <h3>Accompanist Profile</h3>
  {{#with accompanistProfileDoc.doc}}
  <h5>Repertoire: </h5>
    {{#each repertoire}}
      {{this}}<br>
    {{/each}}
  <hr>
  <h5>Start Date: {{startDate}}</h5>
  <h5>End Date: {{endDate}}</h5>
  <h5>Hourly Rate: ${{charge}}/HR</h5>
  <h5>Preferred Working Time: /{{#each working_hours}}{{this}}/{{/each}}</h5>
  <h5>Working Hours: /{{#each working_hours}}{{this}}/{{/each}}</h5>
  <h5>Working Days: /{{#each working_days}}{{this}}/{{/each}}</h5>
  <h5>Session Location: {{session_location}}</h5>
  <h5>My Location: {{mylocation}}</h5>
  <hr>
  <h5>One Liner: {{one_liner}}</h5>
  {{/with}}
</template>
