<template name="ResultsLayout">
    <header>
        <h1> Search Results </h1>
    </header>
    <main>
    	<section class="results">
			<!-- List all user's accounts -->
			<!-- {{#each myprofile}}
				<h5>Instruments Mastered: {{instrument}}</h5>
				<h5>Years Played: {{yearsPlayed}}</h5>
				<hr>
				<h5>Awards: </h5>
					{{#each awards}}
						Name: {{name}}<br>
						Date: {{date}}<br><br>
					{{/each}}
				<hr>
				<h5>Competitions: </h5>
					{{#each competitions}}
						Name: {{name}}<br>
						Date: {{date}}<br>
						Award: {{award}}<br><br>
					{{/each}}
				<hr>
				<h5>Music Programs: </h5>
					{{#each musicPrograms}}
						Institution Name: {{instName}}<br>
						Program Name: {{programName}}<br>
						Start Date: {{startDate}}<br>
						End Date: {{endDate}}<br><br>
					{{/each}}
				<hr>
				<h5>Orchestra's Participated in: </h5>
					{{#each orchestras}}
						Name: {{name}}<br>
						Position: {{position}}<br>
						Start Date: {{startDate}}<br>
						End Date: {{endDate}}<br><br>
					{{/each}}
			{{/each}} -->

			 
<!--     {{#EasySearch.Each index=accountsIndex}}
      Accompanist Name: {{name}}<br>
      Phone: {{phone}}<br>
      Affiliation: {{affiliation}}<br>
    {{/EasySearch.Each}}
  

  {{> EasySearch.LoadMore index=accountsIndex}}

  {{#EasySearch.IfNoResults index=accountsIndex}}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}} -->

		</section>

    </main>
</template>
