<template name="ResultsLayout">
    <main>
		<!-- {{> advancedSearch}} -->
		{{> results}}
    </main>
</template>

<template name="results">
		
{{#if noResults accompanists}}
		
		<p>Sorry, no results found (aka go and tell your friends to use our amazing platform!)</p>
		
		{{else}}

		{{#each accompanists}}
		
		
			<a class="keep-date" href={{getProfileRoute Id}}>
				<div  href={{getProfileRoute Id}} class="card {{currentState}} grey lighten-5 z-depth-0">
					<div class="card-content">
						
						<div id="resultsImg">
			   			<!--{{#with currentProfilePic}}
			        <a class="waves-effect waves-light">
	            	<img class="materialboxed" src={{currentProfilePic accompname.Id}}>
	          	</a>
			        {{/with}} -->
			        <a class="waves-effect waves-light">
			          <img class="materialboxed" src="http://www.famousbirthdays.com/faces/cerny-amanda-image.jpg">
			        </a>
		        </div>

						<p class="bold">{{accompname.name}}</p> 
						
						<p>{{accompname.affiliation}}</p>
						<br>
						<p>
							<i id="align_text" class="small material-icons">attach_money</i>
							{{charge}}/hr
						</p>

						<p>
							<i id="align_text" class="small material-icons">location_on</i>
							{{mylocation}}
						</p> 
						<br><br><br>
						<p>
							<i id="align_text" class="small material-icons">access_time</i>
							{{working_hours}}
						</p>
						
						<p>
							<i id="align_text" class="small material-icons">event</i>
							{{#each working_days}}
								{{formatDay this}}/
							{{/each}}
						</p> 
						
						<p class="oneLiner"> {{one_liner}}</p>

					</div>
				</div>
			</a>
			
		{{/each}}
{{/if}}
</template>


<template name="advancedSearch">
 	<div class="container">
		<div class="row">
	        <div class="span12">
	            <h8>Advanced Search</h8>
	            <form id="searchform">
	            	<!-- make it auto complete city for user -->
  					<input name="address" class="autocomplete" id="autocomplete" placeholder="Session location" type="text">
	               <!-- add 30min drive raduis button -->
	                <input name="start_date" class="span5" type="date"  placeholder="First day of session" >

	               	<input name="end_date" class="span5" type="date"  placeholder="Event day" >

	                <button type="submit" class="btn btn-primary"> Search</button>
	            </form>
	        </div>
	    </div>
	</div>
 </template>
