<template name="ResultsLayout">
    <main>
		{{> advancedSearch}}
		{{> results}}
    </main>
</template>

<template name="results">
	<div class="resultsContainer">
	{{#if noResults accompanists}}
		<p>Sorry, no results found (aka go and tell your friends to use our amazing platform!)</p>
		{{else}}
		<div class="row">
		{{#each accompanists}}
			<a class="changeColor" href="" data-accompanist={{Id}}>
				<div class="card result-card col s12 m5 l5 grey lighten-5 z-depth-0">
					<div class="card-content">
						<div class="mainResults">
			        <div id="resultsBackgroundImg">
				        <a class="waves-effect waves-light">
				          <img class=" responsive-img" src="http://materializecss.com/images/parallax1.jpg">
				        </a>
			        </div>
			        <div id="resultsProfileImg">
				        <a class="waves-effect waves-light">
				          <img class="responsive-img circle" src="http://www.famousbirthdays.com/faces/cerny-amanda-image.jpg">
				        </a>
			        </div>

							<div class="nameAffili ">
								<p class="bold ellipsis">{{accompname.name}}</p>
								<p class="ellipsis">{{accompname.affiliation}}</p>
							</div>
							<br>

							<div class="divide">
							<p class="top">
								<i id="align_text" class="small material-icons prefix blue-text text-darken-2">attach_money</i>
								{{charge}}/hr
							</p>
							<p class="ellipsis">
								<i id="align_text" class="small material-icons prefix blue-text text-darken-2">location_on</i>
								{{mylocation}}
							</p>
						</div>

						<div class="divide">
							<p class="top">
								<i id="align_text" class="small material-icons prefix blue-text text-darken-2">access_time</i>

								{{#if allTimes working_hours}}
									Anytime
								{{else}}
									{{#each working_hours}}
										{{this}},
									{{/each}}
								{{/if}}

							</p>
							<p>
								<i id="align_text" class="small material-icons prefix blue-text text-darken-2">event</i>
								{{#if allDays working_days }}
									Any Day
								{{else}}
									{{#each working_days}}
										{{formatDay this}},
									{{/each}}
								{{/if}}
							</p>
						</div>
							<!-- <p class="oneLiner"> {{one_liner}}</p> -->
						</div>
					</div>
				</div>
			</a>
		{{/each}}
	</div>
	{{/if}}
</div>
</template>


<template name="advancedSearch">
  <div class="card grey lighten-5 z-depth-0">
    <div class="card-content">
    	{{#autoForm schema="SearchDataSchema" id="advancedSearch" type="normal" }}
	    	<div class="row ">
		  		<div class="input-field col s2">
		      	<h10>Location/Dates</h10>
		      </div>
		      <div class="row col s10">
			      <div class="input-field col s4">
			        {{>afFieldInput name="address" class="autocomplete" id="autocomplete" value=address type="text"}}
			        <label for="address" class="active" >Enter Location</label>
			      </div>
			       <div class="input-field col s4">
			        {{>afFieldInput name="start_date" id="start_date" value=startDate class="datepicker" type="date"}}
			        <label class="active">Start Date</label>
			      </div>
			      <div class="input-field col s4">
			        {{>afFieldInput name="end_date" id="end_date" value=endDate class="datepicker" type="date"}}
			        <label class="active">End Date</label>
			      </div>
	        </div>
	      </div>

        <div class="horizontalLine input-field col s12">
        	<div class="row inLine">
          	<div class="col s2">Hourly Rate</div>
            {{>afFieldInput name="charge" type="sexyselect-checkboxes" options=chargeArray value=charge}}
					</div>
        </div>

      	 <div class="time horizontalLine input-field col s12">
        	<div class="row inLine">
	        	<div class="col s2">Practice Times</div>
	        	{{>afFieldInput name="working_hours" type="sexyselect-checkboxes" options=timeArray value=times }}
      		</div>
       	</div>

      	<div class="days horizontalLine input-field col s12">
        	<div class="row inLine">
	        	<div class="col s2">Practice Days</div>
	        	{{>afFieldInput name="working_days" type="sexyselect-checkboxes" options=dayArray value=days }}
      		</div>
       	</div>

        <div class="session_location horizontalLine input-field col s12">
        	<div class="row inLine">
	        	<div class="col s2">Session Location / Distance</div>
	        	<div class="col s5">
	        		{{>afQuickField name="session_location" value=session_location }}
	        	</div>
	        	<div class="col s5">
	        	  <div class="input-field col s12">
          			{{>afQuickField name="radius" value=rads}}
        			</div>
      			</div>
       		</div>
				</div>

     		<div class="input-field col s12">
     			<button type="submit" class=" advancedsearch-btn btn btn-primary" id="advancedsearch">Search</button>
     		</div>

     		<div class="input-field col s12">
     			<br>
     			<a class="more">More Filters</a>
     			<a class="less">Less Filters</a>
     		</div>

      {{/autoForm}}
    </div>
  </div>
</template>

<template name="SexySelect">
    <div class="checkbox-grouped-table col s10" {{dsk}}>
      <div class="row">
        {{#each this.selectOptions}}
          <div class="col s4">
          	<div class="box">

		          <h10 class="box-label">{{this.label}}


		          <input checked type="checkbox" id="{{this.value}}-slot" value={{this.value}} class="sexyselect-checkbox" />

		          <label class="right checker" style="top:5px;" for="{{this.value}}-slot"></label>
	          </h10>
	        	</div>
	        </div>
        {{/each}}
      </div>
    </div>
</template>
