<template name="TestLayout">

       <header>
        <link rel="stylesheet" href="styles/custom.css">
    </header>
    
    <main>

  <div class="parallax-container">
    <div class="parallax">
        <img src="http://materializecss.com/images/parallax1.jpg" />
    </div>
</div>

<div>
  <h1>Aaaaaaa</h1>
  <h1>Bbbbbbb</h1>
  <h1>Ccccccc</h1>
  <h1>Aaaaaaa</h1>
  <h1>Bbbbbbb</h1>
  <h1>Ccccccc</h1>
  <h1>Aaaaaaa</h1>
  <h1>Bbbbbbb</h1>
  <h1>Ccccccc</h1>
  <h1>Aaaaaaa</h1>
  <h1>Bbbbbbb</h1>
  <h1>Ccccccc</h1>
</div>

 

    </main>

</template>



<!-- <template name="BookPanel">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Book Accompanist</span>
          {{>bookAccompanist}}
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="bookAccompanist">
  {{#autoForm collection="Transactions" doc=defaultTransaction id="bookAccompanist" type="insert"}}
    <fieldset>
    <legend>Book Accompanist</legend>

    {{>afArrayField name="repertoire" type=""}}

    {{>afQuickField name="startDate" type="pickadate" label-class="active"}}
    {{>afQuickField name="endDate" type="pickadate" label-class="active"}}

    <button type="submit" class="btn btn-primary">Book</button>
    </fieldset>
  {{/autoForm}}
</template> -->


<!-- <template name="bookAccompanist">

  {{#autoForm collection="Transactions" doc=defaultTransaction id="bookAccompanist" type="insert"}}
    <fieldset>
      <legend>Book Accompanist</legend>
      {{>afQuickField name="musician"}}
      {{>afQuickField name="accompanist"}}
      {{>afQuickField name="status"}}
      {{>afArrayField name="repertoire"}}

      {{>afQuickField name="startDate" id='start_date' type="date"}}

      {{>afQuickField name="endDate"}}
      <button type="submit" class="btn btn-primary">Book</button>
    </fieldset>
  {{/autoForm}}
</template> -->
