<template name="TestLayout">

    <div class="container">
      <main>
        <!-- {{>BookPanel}} -->
     <!--    {{>modalConfirm}}
        {{>collectionTest}}
        {{>tester}} -->
        <!-- {{>upsertMusicProfileFormTesting}} -->

      </main>
    </div>

</template>

<!-- <template name="upsertMusicProfileFormTesting">
  {{#if isInRole 'makeMusicProfile'}}

  {{#autoForm collection='MusicProfiles' id='upsertMusicProfileForm-form' type=formType doc=currentProfile}}

   {{> afArrayField name="awards" template="customArrayField"}}                        
{{/autoForm}}

{{/if}}

</template> -->

<!-- <template name="afArrayField_customArrayField">

    {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}

        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
            <button type="button" class="btn btn-primary autoform-remove-item pull-left">REMOVE</button>
        {{/if}} <br><br>
        
        <div class="row">
          <div class="input-field col s6">
            {{>afFieldInput name=this.atts.name type="text"}}
            <label for="icon_prefix">Competition Name</label>
          </div>
           <div class="input-field col s6">
            {{>afFieldInput name=this.atts.awards type="text"}}
            <label>Award Title</label>
          </div>
        </div>
        <div class="input-field col s6">
            {{>afFieldInput name=this.atts.date type="date"}}
        </div>

    {{/afEachArrayItem}}

    {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">ADD</button>
    {{/if}}
</template> -->

<!-- <template name="BookPanel">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Book Accompanist</span>
          {{>bookAccompanist}}
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="bookAccompanist">
  {{#autoForm collection="Transactions" doc=defaultTransaction id="bookAccompanist" type="insert"}}
    <fieldset>
    <legend>Book Accompanist</legend>

    {{>afArrayField name="repertoire" template="changed"}}

    {{>afQuickField name="startDate" type="pickadate" label-class="active"}}
    {{>afQuickField name="endDate" type="pickadate" label-class="active"}}

    <button type="submit" class="btn btn-primary">Book</button>
    </fieldset>
  {{/autoForm}}
</template> -->

<!-- <template name="modalConfirm">
   Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
 -->
<!-- Modal Structure -->
<!-- <div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Review Booking Request</h4>
    {{> Template.dynamic template="BookingRequest" data=(transactionById "2STt9vFsiQDmXXwK9")}}
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Confirm</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Reject</a>
  </div>
</div>
</template> -->

<!-- <template name="tester">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="row">
          <div class="card-content white-text valign-wrapper">
            <div class="col s2">
              <a href="#!" class="valign">Account     </a>
            </div>
            <div class="col s10">
            <img src="https://avatars1.githubusercontent.com/u/49341?v=3&s=40" alt="" class="circle valign responsive-img">
            </div>


          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</template> -->
<!-- 
<template name="collectionTest">  -->
  <!-- <ul class="collection with-header">
    <li class="collection-header"><h4>First Names</h4></li>
    <div class="row"><li class="collection-item"><div class="col s11"><input type="text"></div><div class="col s1"><a href="#!" class="secondary-content"><i class="material-icons">remove_circle</i></a></div></li></div>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">remove_circle</i></a></div></li>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">remove_circle</i></a></div></li>
    <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">remove_circle</i></a></div></li>
  </ul> -->

 <!--  <table>
    <thead>
      <tr>
          <th data-field="id">Name</th>
          <th data-field="name">Item Name</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>  <input class="tags" value="one;two;three" data-options="four;five" data-separator=";"/></td>
      </tr>
      <tr>
        <td>Alan</td>
      </tr>

    </tbody>
  </table>
  <input class="tags" value="one;two;three" data-options="four;five" data-separator=";"/>

</template>


<template name="afArrayField_changed">
  <div class="collection">
    <div class="collection-item">
    {{afFieldLabelText name=atts.name}}
      <! First Line (with Add icon) -->

   <!--    {{#if afArrayFieldHasLessThanMaximum name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <a
          class="secondary-content waves-effect waves-light autoform-add-item"
          data-autoform-field="{{atts.name}}"
          data-autoform-minCount="{{atts.minCount}}"
          data-autoform-maxCount="{{atts.maxCount}}">
          <i class="material-icons">add_circle</i>
        </a>

      {{/if}}
    </div>
    {{#if afFieldIsInvalid name=atts.name}}
      <div class="collection-item">
        <span class="red-text">{{{afFieldMessage name=atts.name}}}</span>
      </div>
    {{/if}}
    {{#afEachArrayItem name=atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <div class="collection-item">
        {{> afQuickField name=this.name label="Piece" options=afOptionsFromSchema}}
        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <a href="#!" class="secondary-content autoform-remove-item"><i class="material-icons">remove_circle</i></a>
        {{/if}}
      </div>

    {{/afEachArrayItem}}
  </div>
</template>
 -->
<!-- <template name="afQuickField_changed">
  {{#if isGroup atts=this}}
    {{> afObjectField_changed}}
  {{else}}
    {{#if isFieldArray atts=this}}
      {{> afArrayField_changed}}
    {{else}}
      {{> afFormGroup_materialize groupAtts}}
    {{/if}}
  {{/if}}
</template> -->

<!-- <template name="afObjectField_changed">
  <div class="card-panel autoform-object-field">
    <div class="card-content">
      {{#with afFieldLabelText name=this.name}}
        <div class="card-title">
          James
        </div>
      {{/with}}
      {{#if afFieldIsInvalid name=this.name}}
        <div class="red-text">{{{afFieldMessage name=this.name}}}</div>
      {{/if}}
      {{> afQuickFields name=this.name}}
    </div>
  </div>
</template> -->
 
<!-- <template name="bookAccompanist">

  {{#autoForm collection="Transactions" doc=defaultTransaction id="bookAccompanist" type="insert"}}
    <fieldset>
      <legend>Book Accompanist</legend>
      {{>afQuickField name="musician"}}
      {{>afQuickField name="accompanist"}}
      {{>afQuickField name="status"}}
      {{>afArrayField name="repertoire"}}

      {{>afQuickField name="startDate" id='start_date' type="date"}}

      {{>afQuickField name="endDate"}}
      <button type="submit" class="btn btn-primary">Book</button>
    </fieldset>
  {{/autoForm}}
</template> -->
